﻿@model DistribucionSofia.Models.OrdenCompra
@{
    ViewBag.Title = "_DetalleCompra";
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Orden de compra de la escuela: @Model.School.Name</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            @foreach (var prod in Model.OrdenCompraProductoes)
            {
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                        <div class="visual">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup" data-value="@prod.Cantidad">@prod.Cantidad</span>
                            </div>
                            <div class="desc">@prod.Unidad @prod.Concepto</div>
                        </div>
                    </a>
                </div>
            }

            <ul class="list-group">
                <li class="list-group-item">
                    Fecha de Registro:  <strong class="pull-right">@Model.FechaRegistro</strong>
                </li>
                <li class="list-group-item divider"></li>
                <li class="list-group-item">
                    Subtotal:  <strong class="pull-right">$@Model.SubTotal.ToString("0.00")</strong>
                </li>
                <li class="list-group-item">
                    IVA: <strong class="pull-right">$@Model.IVA.ToString("0.00")</strong>
                </li>
                <li class="list-group-item">
                    Total: <strong class="pull-right">$@Model.Total.ToString("0.00")</strong>
                </li>
                <li class="list-group-item divider"></li>
                <li class="list-group-item">
                    Importe Pagado: <strong class="pull-right">$@Model.TotalPagado.ToString("0.00")</strong>
                </li>
                <li class="list-group-item divider"></li>
                <li class="list-group-item">
                    Estatus: <strong class="pull-right"> @(Model.Estatus == 0 ? "Sin aprobar" : "Aprobado")</strong>
                </li>
            </ul>
        </div>
    </div>
</div>

<style>
    .divider {
        border-top: 5px solid #ddd;
        padding: 0px;
    }
</style>