﻿@model DistribucionSofia.Models.School
@{
    ViewBag.Title = "_DetalleEscuela";
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Escuela @Model.Name</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                    <div class="visual">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@Model.Groups.Where(x=>x.IsActivo == true).Count()">@Model.Groups.Where(x => x.IsActivo == true).Count()</span>
                        </div>
                        <div class="desc">Grupos</div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                    <div class="visual">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@Model.Teachers.Count()">@Model.Teachers.Count()</span>
                        </div>
                        <div class="desc">Profesores</div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                    <div class="visual">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@Model.Groups.Where(x=>x.IsActivo == true).SelectMany(y=>y.Students).Count()">@Model.Groups.Where(x => x.IsActivo == true).SelectMany(y => y.Students).Count()</span>
                        </div>
                        <div class="desc">Alumnos</div>
                    </div>
                </a>
            </div>
        </div>


        <ul class="list-group">
            <li class="list-group-item">
                Director:
                <strong class="pull-right">

                    @if (Model.IdDirector.HasValue)
                    {
                        <text> @Model.Director.aspnet_Users.UserExtra.Name  @Model.Director.aspnet_Users.UserExtra.LastNameP </text>
                    }
                    else
                    {
                        @: Sin Director
            }
                </strong>
            </li>
            <li class="list-group-item">
                Clave:  <strong class="pull-right">@Model.ClaveOficial</strong>
            </li>
            <li class="list-group-item">
                Dirección: <strong class="pull-right">@Model.Address</strong>
            </li>
            <li class="list-group-item">
                Municipio: <strong class="pull-right">@Model.City</strong>
            </li>
            <li class="list-group-item">
                Estado: <strong class="pull-right">@Model.Province</strong>
            </li>
            <li class="list-group-item">
                Escuela en Sofía desde: <strong class="pull-right"> @Model.FechaRegistro.Value.Day/@Model.FechaRegistro.Value.Month/@Model.FechaRegistro.Value.Year</strong>
            </li>
            <li class="list-group-item divider"></li>
            <li class="list-group-item">
                Tareas Asignadas en la Escuela: <span class="badge badge-info ">@ViewBag.TareasSchool</span>
            </li>
            <li class="list-group-item">
                Ejercicios Completados: <span class="badge badge-success">@ViewBag.ExcersiceTotal</span>
            </li>
        </ul>
    </div>
</div>

<style>
    .divider {
        border-top: 5px solid #ddd;
        padding: 0px;
    }
</style>