﻿@model DistribucionSofia.Models.RegisterModelDirector
@{
    ViewBag.Title = "Agregar Director";

    Layout = "~/Views/Shared/_LayoutAsesor.cshtml";

    IEnumerable<SelectListItem> Months = System.Globalization.DateTimeFormatInfo
               .CurrentInfo
               .MonthNames
               .Where(x => !string.IsNullOrEmpty(x))
               .Select((monthName, index) => new SelectListItem
               {
                   Value = (index + 1).ToString(),
                   Text = monthName
               });
    var Days = new List<SelectListItem>();
    for (var i = 1; i <= 31; i++)
    {
        Days.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString() });
    }
    var Ano = new List<SelectListItem>();
    for (var i = DateTime.Today.Year; i >= DateTime.Today.Year - 80; i--)
    {
        Ano.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString() });
    }
}

<div class="well">
    <h3>Agregar Director</h3>
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => model.SchoolID, "Escuela (*)")
                @Html.DropDownListFor(x => x.SchoolID, new SelectList(ViewBag.EscuelasDirector, "SchoolID", "Name"), "Seleccionar", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SchoolID)
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Name, "Nombres (*)")
                @Html.TextBoxFor(model => model.Name, new { @class = "text round_6 form-control", placeholder = "Nombre" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class=" col-md-4">
                @Html.LabelFor(model => model.LastNameP, "Apellido Paterno (*)")
                @Html.TextBoxFor(model => model.LastNameP, new { @class = "text round_6 form-control", placeholder = "Apellido Paterno" })
                @Html.ValidationMessageFor(model => model.LastNameP)
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.LastNameM, "Apellido Materno")
                @Html.TextBoxFor(model => model.LastNameM, new { @class = "text round_6 form-control", placeholder = "Apellido Materno" })
            </div>
        </div>

        <div class="row">

            <div class=" col-md-4">
                @Html.LabelFor(model => model.Email, "Correo (*)")
                @Html.TextBoxFor(model => model.Email, new { @class = "text round_6 form-control", placeholder = "Correo" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="form-group col-md-4">
                @Html.Label("Fecha de nacimiento (*)")

                <div class="row">
                    <div class="col-sm-4 no-padding">
                        @Html.DropDownListFor(x => x.Dia, Days, "día", new { @class = "form-control dp no-right-radius-border" })
                    </div>
                    <div class="col-sm-4 no-padding">
                        @Html.DropDownListFor(x => x.Mes, Months, "mes", new { @class = "form-control dp no-radius-border" })
                    </div>
                    <div class="col-sm-4 no-padding">
                        @Html.DropDownListFor(x => x.Ano, Ano, "año", new { @class = "form-control dp no-left-radius-border" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                @Html.Label("Sexo (*)")
                @Html.DropDownListFor(x => x.Sexo,
                                 from DistribucionSofia.Models.Enum.EnumSexo tipo in Enum.GetValues(typeof(DistribucionSofia.Models.Enum.EnumSexo))
                                 select new SelectListItem() { Text = tipo.ToString(), Value = (tipo).ToString() }, new { @class = "round_6 form-control" })
                @Html.ValidationMessageFor(model => model.Sexo)
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Registrar" class="btn btn-primary" />
        </div>
    }
</div>