﻿@model PagedList.IPagedList<DistribucionSofia.Models.Director>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Directores";

    Layout = "~/Views/Shared/_LayoutAsesor.cshtml";
}

@using (Html.BeginForm("Directores", "Asesor", FormMethod.Get))
{
    <div class="well">
        <h3>Filtros de búsqueda</h3>
        <div class="portlet-body form">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("EscuelasDis", "Escuela", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("EscuelasDis", null, "Filtrar por escuela", new { @class = "form-control " })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("NivelEscolar", "Nivel escolar", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("NivelEscolar", null, "Filtrar por dependencia", new { @class = "form-control " })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="">

                        <input type="submit" value="Filtrar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Count() > 0)
{

    <div class="well">
        <table id="table_director" class="table table-striped table-hover table-fixed">
            <thead>
                <tr class="nowrap">
                    <th>
                        Nombre
                    </th>
                    <th>
                        Usuario
                    </th>
                    <th>
                        Última Conexión
                    </th>
                    <th>
                        Escuela
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model.OrderBy(x => x.aspnet_Users.aspnet_Membership.LastLoginDate))
                {
                    <tr class="nowrap" id="@a.DirectorID">
                        <td>
                            @((a.aspnet_Users.UserExtra.Name + " " + a.aspnet_Users.UserExtra.LastNameP + " " + a.aspnet_Users.UserExtra.LastNameM).ToUpper())
                        </td>
                        <td>
                            @a.aspnet_Users.UserName
                        </td>
                        @{
                    var dife = a.aspnet_Users.aspnet_Membership.LastLoginDate != a.aspnet_Users.aspnet_Membership.CreateDate ? DateTime.UtcNow.Subtract(a.aspnet_Users.aspnet_Membership.LastLoginDate).TotalSeconds : 0;
                        }
                        <td>
                            @if (dife == 0)
                            {
                                <text>No ha iniciado sesión</text>
                            }
                            else
                            {
                                if (dife < 3600)
                                {
                                    <text>Menos de una hora</text>
                                }
                                else
                                {
                                    if (dife < 86400)
                                    {
                                        <text>Menos de un día</text>
                                    }
                                    else
                                    {
                                        if (dife < 172800)
                                        {
                                            <text>Menos de dos días</text>
                                        }
                                        else
                                        {
                                            if (dife < 604800)
                                            {
                                                <text>Menos de la semana</text>
                                            }
                                            else
                                            {
                                                if (dife < 2592000)
                                                {
                                                    <text>Menos del mes</text>
                                                }
                                                else
                                                {
                                                    <text>Más del mes</text>
                                                }
                                            }
                                        }

                                    }

                                }
                            }
                        </td>
                        <td>
                            @foreach (var s in a.Schools)
                            {
                                <p>
                                    @s.Name (@(string.IsNullOrEmpty(s.ClaveOficial) ? "Sin clave" : s.ClaveOficial))
                                </p>
                            }

                        </td>
                        <td>
                            <a href="#" class="desligar btn btn-danger btn-sm" data-s="@a.SchoolID" data-d="@a.DirectorID" data-id="@a.DirectorID"><span class="fa fa-chain-broken"></span> Desligar Director</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
else
{
    <div class="alert alert-danger">No se ha registrado ningún director</div>
}

<div>
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Directores",
    new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        NivelEscolar = ViewBag.NivelescolarFilter,
        EscuelasDis = ViewBag.EscuelasDis
    }))

</div>
<script>
    $(".desligar").on('click', function () {
        var s = $(this).data("s");
        var d = $(this).data("d");
        bootbox.confirm("¿Desea desenlazar a este director?", function (result) {
            if (result) {
                $.get("/Asesor/_DesligarDirector", { s: s, d: d }, function (data) {
                    if (data) {
                        $("#" + d + "").remove();
                        bootbox.alert("Se ha realizado el cambio correctamente.");
                    }
                    else {
                        bootbox.alert("Hubo un error al guardar los cambios, intente de nuevo por favor.");
                    }
                });
            }
        });

    });
</script>