﻿
@{
    ViewBag.Title = "Asesor";
    Layout = "~/Views/Shared/_LayoutAsesor.cshtml";
}
@section Pagecss {
    <link href="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
}

<h3 class="page-title">
    Datos Generales
</h3>
<div class="page-bar">
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Acciones rápidas <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="@Url.Action("NuevaOrden", "Distribuidor", new { tipo = 2 })">Agregar Escuela</a>
                </li>
                <li>
                    <a href="@Url.Action("AgregarDirector", "Distribuidor")">Agregar Director</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
            <div class="visual">
                <i class="fa fa-building"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="@ViewBag.EscuelasDis">@ViewBag.EscuelasDis</span>
                </div>
                <div class="desc">Escuelas</div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue-madison" href="#">
            <div class="visual">
                <i class="fa fa-check-square-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="@ViewBag.OrdenCompraDis">@ViewBag.OrdenCompraDis</span>
                </div>
                <div class="desc">Ordenes de compra</div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue-steel" href="#">
            <div class="visual">
                <i class="fa fa-square-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="@ViewBag.OrdenAdesaprobadaDis">@ViewBag.OrdenAdesaprobadaDis</span>
                </div>
                <div class="desc">Ordenes sin aprobar</div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="#">
            <div class="visual">
                <i class="fa fa-building"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="@ViewBag.EscuelasExpira">@ViewBag.EscuelasExpira</span>
                </div>
                <div class="desc">Escuelas por expirar</div>
            </div>
        </a>
    </div>
</div>

<script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/horizontal-timeline/horizontal-timeline.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
