﻿@model DistribucionSofia.Models.ViewModel_EditUserExtra_D
@{
    ViewBag.Title = "MiPerfil";

    Layout = "~/Views/Shared/_LayoutAsesor.cshtml";
}

<div class="main round_8">

    <div class="page_title round_8">
        <h2 class="replace">Editando datos personales</h2>
    </div>
    <hr />

    @using (Html.BeginForm("MiPerfil", "Asesor", FormMethod.Post))
    { @Html.ValidationSummary(true)

    <!-- id -->
        @Html.HiddenFor(model => model.Id)
        @Html.ValidationMessageFor(model => model.Id)
        @Html.Hidden("FechaNacimiento", Model.FechaNacimiento.ToShortDateString())
        @Html.ValidationMessageFor(model => model.FechaNacimiento)
        @Html.HiddenFor(model => model.IsFacebook)

    <!-- nombre -->
        <div class="panel panel-primary">
            <div class="panel panel-heading">
                <span class="fa fa-user"></span> Nombre(s) y apellidos
            </div>
            <div class="panel panel-body">
                <div class="row">
                    <!-- nombre -->
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Name, "Nombre(s)")
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control input-lg" })
                    </div>
                    <!-- apellido p -->
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.LastNameP, "Apellido paterno")
                        @Html.TextBoxFor(model => model.LastNameP, new { @class = "form-control input-lg" })
                    </div>
                    <!-- apellido m -->
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.LastNameM, "Apellido materno")
                        @Html.TextBoxFor(model => model.LastNameM, new { @class = "form-control input-lg" })
                    </div>
                </div>
            </div>
        </div>

    <!-- mis datos personales -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="fa fa-user"></span> Mis datos de cuenta
            </div>
            <div class="panel-body">
                <div class="row">

                    <!-- nombre -->
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Username, "Nombre de usuario")

                        @if (Model.IsFacebook)
                        {
                            @Html.TextBoxFor(model => model.Username, new { @class = "input-lg", @readonly = "readonly" })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.Username, new { @class = "input-lg" })
                        }

                        @Html.ValidationMessageFor(model => model.Username)
                        <br />
                        <div class="well well-sm">
                            <span class="fa fa-info"></span> Tu nombre de usuario debe ser fácil de recordar y único.
                        </div>

                    </div>

                    <!-- correo -->
                    <div class="col-md-4 bg-warning">
                        @Html.Label("Correo electrónico")
                        <a href="https://signup.live.com/signup?mkt=Es-MX&lic=1&uaid=c3e6639dd2bc4eabb6b28ed13c45b9f3" target="_blank">Crear una cuenta ahora...</a>
                        @Html.TextBox("Email", Model.Email, new { @class = "input-lg" })
                        @Html.ValidationMessageFor(model => model.Email)
                        <br />
                        <div class="alert alert-warning">
                            <span class="fa fa-warning"></span> Tu correo electrónico es obligatorio para recuperar tu contraseña y usuario
                        </div>
                    </div>

                    <!-- celular -->
                    <div class="col-md-4">
                        @Html.Label("Celular (opcional)")
                        @Html.TextBox("Telefono", Model.Telefono, new { @class = "input-lg" })
                        @Html.ValidationMessageFor(model => model.Telefono)
                        <br />
                        <div class="well well-sm">
                            <span class="fa fa-info"></span> Tu teléfono celular tambien ayuda a recuperar contraseña.
                        </div>
                    </div>

                </div>
            </div>
        </div>

    <!-- fecha nacimientp -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="fa fa-calendar"></span> Fecha de nacimiento
            </div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-sm-4">
                        @Html.LabelFor(x => x.Dia, "Día")
                        @Html.DropDownList("Dia")
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(x => x.Mes, "Mes")
                        @Html.DropDownList("Mes")
                    </div>
                    <div class="col-sm-4">
                        @Html.LabelFor(x => x.Mes, "Año")
                        @Html.DropDownList("Ano")
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Guardar cambios" class="btn btn-block btn-primary" />
            </div>
        </div>
    }
</div>