﻿@model DistribucionSofia.Models.ViewModel_d_OrdenCompra
@{
    ViewBag.Title = "Nueva orden de compra";
    Layout = "~/Views/Shared/_LayoutDistribuidor.cshtml";

    List<SelectListItem> selectListNivel = new List<SelectListItem>();
    selectListNivel.Add(new SelectListItem() { Text = "Primaria", Value = "2" });
    //selectListNivel.Add(new SelectListItem() { Text = "Secundaria", Value = "3" });

    List<SelectListItem> selectListTurno = new List<SelectListItem>();
    selectListTurno.Add(new SelectListItem() { Text = "Matutino", Value = "1" });
    selectListTurno.Add(new SelectListItem() { Text = "Vespertino", Value = "2" });

    IEnumerable<SelectListItem> Months = System.Globalization.DateTimeFormatInfo
               .CurrentInfo
               .MonthNames
               .Where(x => !string.IsNullOrEmpty(x))
               .Select((monthName, index) => new SelectListItem
               {
                   Value = (index + 1).ToString(),
                   Text = monthName
               });
    var Days = new List<SelectListItem>();
    for (var i = 1; i <= 31; i++)
    {
        Days.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString() });
    }
    var Ano = new List<SelectListItem>();
    for (var i = DateTime.Today.Year; i >= DateTime.Today.Year - 80; i--)
    {
        Ano.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString() });
    }

    var coll = 1;
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered" id="form_wizard_1">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-basket"></i>
                    <span class="caption-subject bold uppercase">
                        @ViewBag.Tipo
                    </span>
                </div>
            </div>
            <div class="portlet-body form">
                @using (Html.BeginForm("NuevaOrden", "Asesor", FormMethod.Post, new { rol = "form", @class = "form-horizontal", @id = "submit_form" }))
                {
                <div class="form-wizard">
                    <div class="form-body">
                        <ul class="nav nav-pills nav-justified steps">
                            <li>
                                <a href="#tab1" data-toggle="tab" class="step">
                                    <span class="number"> 1 </span>
                                    <span class="desc">
                                        <i class="fa fa-check"></i> Escuela
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#tab2" data-toggle="tab" class="step">
                                    <span class="number"> 2 </span>
                                    <span class="desc">
                                        <i class="fa fa-check"></i> Plan
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#tab3" data-toggle="tab" class="step active">
                                    <span class="number"> 3 </span>
                                    <span class="desc">
                                        <i class="fa fa-check"></i> Director
                                    </span>
                                </a>
                            </li>
                            @*<li>
                                    <a href="#tab4" data-toggle="tab" class="step">
                                        <span class="number"> 4 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Facturación
                                        </span>
                                    </a>
                                </li>*@
                            @*<li>
                                    <a href="#tab5" data-toggle="tab" class="step">
                                        <span class="number"> 5 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Confirmación
                                        </span>
                                    </a>
                                </li>*@
                        </ul>
                        <div id="bar" class="progress progress-striped" role="progressbar">
                            <div class="progress-bar progress-bar-success"> </div>
                        </div>
                        <div class="tab-content">
                            <div class="alert alert-danger display-none">
                                <button class="close" data-dismiss="alert"></button> Comprueba los campos.
                            </div>
                            <div class="alert alert-success display-none">
                                <button class="close" data-dismiss="alert"></button> ¡Está todo correcto!
                            </div>
                            <div class="tab-pane active" id="tab1">
                                <div class="well">
                                    <a href="#" class="btn btn-primary" id="NewSchool">Escuela Nueva</a>
                                    <a href="#" class="btn btn-primary" id="BuscarSchool">Escuela Existente</a>

                                    <div id="BuscarEscuela" style="display:none;">
                                        <h3 class="replace"> Selecciona la escuela:</h3>

                                        <div class="row">
                                            <div class="col-md-12">
                                                @Html.DropDownList("SelectEscuela", new SelectList(ViewBag.Escuelas, "Value", "Text"), "Seleccione", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>

                                    <div id="FormularioEscuela" style="display:none;">
                                        <h3 class="replace"> Información general</h3>
                                        <div id="mensaje">

                                        </div>
                                        <div class="row">
                                            @Html.TextBoxFor(model => model.SchoolID, new { @class = "hidden" })
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.Name, "Nombre (*)")
                                                @Html.TextBoxFor(model => model.Name, new { @class = "text round_6 form-control", placeholder = "Nombre" })
                                                @Html.ValidationMessageFor(model => model.Name)
                                            </div>

                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.ClaveOficial, "Clave Oficial (*)")
                                                @Html.TextBoxFor(model => model.ClaveOficial, new { @class = "text round_6 form-control", placeholder = "Clave" })
                                                @Html.ValidationMessageFor(model => model.ClaveOficial)
                                            </div>

                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.Type, "Tipo de escuela (*)")
                                                @Html.DropDownListFor(x => x.Dependencia, null, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Type)
                                            </div>

                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.Scholar_Level, "Escolaridad (*)")
                                                @Html.DropDownListFor(model => model.Scholar_Level, new SelectList(selectListNivel, "Value", "Text"), new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Scholar_Level)
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                @Html.LabelFor(model => model.Address, "Dirección (*)")
                                                @Html.TextBoxFor(model => model.Address, new { @class = "text round_6 form-control", placeholder = "Dirección" })
                                                @Html.ValidationMessageFor(model => model.Address)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.Telephone, "Teléfono (*)")
                                                @Html.TextBoxFor(model => model.Telephone, new { @class = "text round_6 form-control", placeholder = "Teléfono" })
                                                @Html.ValidationMessageFor(model => model.Telephone)
                                            </div>
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.Turno, "Turno (*)")
                                                @Html.DropDownListFor(model => model.Turno, new SelectList(selectListTurno, "Value", "Text"), new { @class = "text round_6 form-control" })
                                                @Html.ValidationMessageFor(model => model.Turno)
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.IdPais, "País (*)")
                                                @Html.DropDownListFor(x => x.IdPais, new SelectList(ViewBag.Paises, "Id", "Nombre"), "Seleccionar", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.IdPais)
                                            </div>
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.IdEstado, "Estado (*)")
                                                @Html.DropDownListFor(model => model.IdEstado, new SelectList(ViewBag.Estados, "Id", "Nombre"), "Seleccionar", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.IdEstado)
                                            </div>
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.City, "Ciudad (*)")
                                                @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.City)
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                @Html.LabelFor(model => model.Timezone, "Horario")
                                                @Html.DropDownListFor(x => x.Timezone, new SelectList(TimeZoneInfo.GetSystemTimeZones(), "Id", "DisplayName"), "Opcional", new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.LabelFor(model => model.Detalle, "Comentarios")
                                                @Html.TextBoxFor(model => model.Detalle, new { @class = "text round_6 form-control", placeholder = "Opcional" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <div class="well">
                                    <h3 class="replace"> Planes</h3>
                                    <br />
                                    <div class="row">
                                        @if (!Model.IsPrueba)
                                        {
                                        <div class="col-md-4">
                                            <div class="panel plancompra">
                                                <span class="button-checkbox2" style="float: left; width: 100%">
                                                    <button type="button" class="btn btn-lg btn-block" data-color="success" id="BtnPrueba" style="text-align: left; text-overflow: ellipsis; overflow: hidden;">
                                                        Periodo de Prueba
                                                    </button>
                                                    @Html.CheckBoxFor(g => Model.PeriodoPrueba, new { @class = "hidden" })
                                                </span>
                                                <div class="panel-body" id="NumeroAlum" style="display:none;">
                                                    <div class="panel-body">
                                                        Número de alumnos (*):
                                                        @Html.TextBoxFor(model => model.Cantidad2, new { @class = "form-control text-center", placeholder = "Número de Alumnos" })
                                                    </div>
                                                    <div class="panel-body">
                                                        @Html.LabelFor(model => model.periodo, "6 Meses de Prueba (No se toman en cuenta julio, agosto y diciembre)")
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        }

                                        else
                                        {

                                        }

                                        @foreach (var item in (List<DistribucionSofia.Models.ViewModel_CheckBoxPlan>)ViewBag.Planes)
                                        {
                                            var collapse = "collapse" + coll;
                                            <div class="col-md-4">
                                                <div class="panel plancompra">
                                                    <div class="panel-heading">
                                                        @item.Nombre
                                                        <small>@item.Descripcion</small>
                                                    </div>
                                                    <div class="panel-body">
                                                        $@item.Costo (MXN) por alumno
                                                    </div>
                                                    <div class="panel-body">
                                                        Tiempo: @item.Duracion días
                                                    </div>
                                                    <div class="panel-group" id="accordion">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#accordion" href="#@collapse">
                                                                        Características: <i class="fa fa-angle-down"></i>
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                            <div id="@collapse" class="panel-collapse collapse">
                                                                <ul class="list-group">
                                                                    <li class="list-group-item text-center">
                                                                        Asignar actividades individuales:
                                                                        <span class='fa fa-check fa-lg' style='color:green'></span>
                                                                    </li>
                                                                    <li class="list-group-item text-center">
                                                                        Imprimir actividades:
                                                                        <span class='fa fa-check fa-lg' style='color:green'></span>
                                                                    </li>
                                                                    <li class="list-group-item text-center">
                                                                        Evidencia de actividades:
                                                                        <span class='fa fa-check fa-lg' style='color:green'></span>
                                                                    </li>
                                                                    <li class="list-group-item text-center">
                                                                        Importar alumnos excel:
                                                                        <span class='fa fa-check fa-lg' style='color:green'></span>
                                                                    </li>
                                                                    <li class="list-group-item text-center">
                                                                        Exportar lista de alumnos de excel:
                                                                        <span class='fa fa-check fa-lg' style='color:green'></span>
                                                                    </li>
                                                                    <li class="list-group-item text-center">
                                                                        Importar alumnos de otro grupo:
                                                                        <span class='fa fa-check fa-lg' style='color:green'></span>
                                                                    </li>
                                                                    <li class="list-group-item text-center">
                                                                        Mensajes muro:
                                                                        <span class='fa fa-check fa-lg' style='color:green'></span>
                                                                    </li>
                                                                    <li class="list-group-item text-center">
                                                                        Calendario/*Planificador:
                                                                        <span class='fa fa-check fa-lg' style='color:green'></span>
                                                                    </li>
                                                                    <li class="list-group-item text-center">
                                                                        Ver boleta grupal/individual:
                                                                        <span class='fa fa-check fa-lg' style='color:green'></span>
                                                                    </li>
                                                                    <li class="list-group-item text-center">
                                                                        Exportar boleta grupal/individual:
                                                                        <span class='fa fa-check fa-lg' style='color:green'></span>
                                                                    </li>
                                                                    <li class="list-group-item text-center">
                                                                        Estadísticas:
                                                                        <span class='fa fa-check fa-lg' style='color:green'></span>
                                                                    </li>
                                                                    <li class="list-group-item text-center">
                                                                        Resultados diagnósticos y encuestas:
                                                                        <span class='fa fa-check fa-lg' style='color:green'></span>
                                                                    </li>
                                                                    <li class="list-group-item text-center">
                                                                        Configuración chat diario:
                                                                        <span class='fa fa-check fa-lg' style='color:green'></span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body">
                                                        Número de alumnos (*):
                                                        @Html.TextBoxFor(model => model.Cantidad, new { @class = "form-control text-center", placeholder = "Número de Alumnos" })
                                                    </div>
                                                    <div class="panel-body">
                                                        <span class="button-checkbox3" style="float: left; width: 100%">
                                                            <button type="button" class="btn btn-lg btn-block" data-color="success" id="BtnFactura" style="text-align: left; text-overflow: ellipsis; overflow: hidden;">
                                                                Solicitar Factura
                                                            </button>
                                                            @Html.CheckBoxFor(g => Model.aplicaFactura, new { @class = "hidden" })
                                                        </span>
                                                    </div>
                                                    <div class="panel-body">
                                                        <span class="button-checkbox" style="float: left; width: 100%">
                                                            <button type="button" class="btn btn-lg btn-block" data-color="success" id="BtnCompra" style="text-align: left; text-overflow: ellipsis; overflow: hidden;">
                                                                Comprar
                                                            </button>
                                                            @Html.CheckBoxFor(g => item.IsChecked, new { @class = "hidden", @data_IdPlan = item.IdPlan })
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            coll++;
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab3">
                                <h3 class="replace"> Director</h3>

                                @if (ViewBag.HasDirector = 1)
                                {
                                <div class="alert alert-info alert-dismissable">
                                    <strong>Esta escuela ya cuenta con Director.</strong>
                                </div>
                                }
                                else
                                {
                                <span class="button-checkbox4" style="float: left; width: 100%">
                                    <button type="button" class="btn btn-lg btn-block" data-color="success" id="BtnFactura" style="text-align: left; text-overflow: ellipsis; overflow: hidden;">
                                        Omitir Registro
                                    </button>
                                    @Html.CheckBoxFor(g => Model.omiteContacto, new { @class = "hidden" })
                                </span>

                                        <div class="row">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.nombreDir, "Nombres (*)")
                                                @Html.TextBoxFor(model => model.nombreDir, new { @class = "text round_6 form-control", placeholder = "Nombre" })
                                                @Html.ValidationMessageFor(model => model.nombreDir)
                                            </div>

                                            <div class=" col-md-4">
                                                @Html.LabelFor(model => model.apellidoP, "Apellido Paterno (*)")
                                                @Html.TextBoxFor(model => model.apellidoP, new { @class = "text round_6 form-control", placeholder = "Apellido Paterno" })
                                                @Html.ValidationMessageFor(model => model.apellidoP)
                                            </div>

                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.apellidoM, "Apellido Materno")
                                                @Html.TextBoxFor(model => model.apellidoM, new { @class = "text round_6 form-control", placeholder = "Apellido Materno" })
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class=" col-md-4">
                                                @Html.LabelFor(model => model.correoDir, "Correo (*)")
                                                @Html.TextBoxFor(model => model.correoDir, new { @class = "text round_6 form-control", placeholder = "Correo" })
                                                @Html.ValidationMessageFor(model => model.correoDir)
                                            </div>

                                            <div class="form-group col-md-4">
                                                @Html.Label("Fecha de nacimiento (*)")

                                                <div class="row">
                                                    <div class="col-sm-4 no-padding">
                                                        @Html.DropDownListFor(x => x.Dia, Days, "día", new { @class = "form-control dp no-right-radius-border" })
                                                    </div>
                                                    <div class="col-sm-4 no-padding">
                                                        @Html.DropDownListFor(x => x.Mes, Months, "mes", new { @class = "form-control dp no-radius-border" })
                                                    </div>
                                                    <div class="col-sm-4 no-padding">
                                                        @Html.DropDownListFor(x => x.Ano, Ano, "año", new { @class = "form-control dp no-left-radius-border" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">

                                                @Html.Label("Sexo (*)")
                                                @Html.DropDownListFor(x => x.sexo,
                                 from DistribucionSofia.Models.Enum.EnumSexo tipo in Enum.GetValues(typeof(DistribucionSofia.Models.Enum.EnumSexo))
                                 select new SelectListItem() { Text = tipo.ToString(), Value = (tipo).ToString() }, new { @class = "round_6 form-control" })
                                                @Html.ValidationMessageFor(model => model.sexo)
                                            </div>
                                        </div>
                                }



                            </div>
                            @*<div class="tab-pane" id="tab4">
                                    <h3 class="replace"> Tus datos de facturación</h3>

                                </div>*@
                        </div>


                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <a href="javascript:;" class="btn default button-previous">
                                    <i class="fa fa-angle-left"></i> Atras
                                </a>
                                <a href="javascript:;" class="btn btn-outline green button-next">
                                    Continuar
                                    <i class="fa fa-angle-right"></i>
                                </a>
                                <button class="btn green button-submit" type="submit"><span class="fa fa-check"></span>Finalizar </button>
                            </div>
                        </div>
                    </div>
                </div>
                    @Html.Hidden("IdPlan", string.Empty)
                }
            </div>
        </div>
    </div>
</div>

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="../assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
    $.validator.methods.date = function (value, element) {
        Globalize.culture("es-MX");
        console.log(Globalize.culture().name);
        return this.optional(element) || Globalize.parseDate(value);
    }
    var planId = document.getElementById('IdPlan').value;
    var periodoPrueba = document.getElementById('PeriodoPrueba').value;

    //debugger;

    $(document).ready(function () {
        var tipo = @ViewBag.TipoNum;
        if(tipo == 2){
            $("#NewSchool").hide();
            $("#BuscarSchool").hide();
            $('#FormularioEscuela').show();
        }
        if(tipo == 3){
            $("#NewSchool").hide();
            $("#BuscarSchool").hide();
            $('#FormularioEscuela').show();

            var prueba = '@Model.IsPrueba';
            if(prueba == 'True'){
                $("#BtnPrueba").hide();
            }
        }

        $('#clickmewow').click(function () {
            $('#radio1003').attr('checked', 'checked');
        });


        $("#NewSchool").on("click", function () {
            $('#BuscarEscuela').hide();
            $('#FormularioEscuela').show();
            document.getElementById("SchoolID").value = "";
            document.getElementById("Name").value = "";
            $("#Name").removeAttr('disabled');
            document.getElementById("ClaveOficial").value = "";
            $("#ClaveOficial").removeAttr('disabled');
            document.getElementById("Dependencia").value = "";
            $("#Dependencia").removeAttr('disabled');
            document.getElementById("Scholar_Level").value = "2";
            $("#Scholar_Level").removeAttr('disabled');
            document.getElementById("Address").value = "";
            $("#Address").removeAttr('disabled');
            document.getElementById("Telephone").value = "";
            $("#Telephone").removeAttr('disabled');
            document.getElementById("IdEstado").value = "";
            $("#IdEstado").removeAttr('disabled');
            document.getElementById("City").value = "";
            document.getElementById("IdPais").value = "";
            $("#IdPais").removeAttr('disabled');
            document.getElementById("Timezone").value = "";
            $("#Timezone").removeAttr('disabled');
            document.getElementById("Detalle").value = "";
            $("#Detalle").removeAttr('disabled');
            $("#mensaje").html("");
        });
        $("#BuscarSchool").on("click", function () {
            $('#BuscarEscuela').show();
            $('#FormularioEscuela').hide();
        });

        $("#SelectEscuela").change(function () {
            $('#FormularioEscuela').show();
            var div = $("#mensaje");

            var url = "@Url.Action("_GetSchool", "Distribuidor")";
            $.get(url, { SchoolID: $("#SelectEscuela").val() }, function (data) {
                document.getElementById("Name").value = data.Nombre;
                $("#Name").prop('disabled', true);
                document.getElementById("ClaveOficial").value = data.Clave;
                $("#ClaveOficial").prop('disabled', true);
                document.getElementById("Dependencia").value = data.Tipo;
                $("#Dependencia").prop('disabled', true);
                document.getElementById("Scholar_Level").value = data.Escolaridad;
                $("#Scholar_Level").prop('disabled', true);
                document.getElementById("Address").value = data.Domicilio;
                $("#Address").prop('disabled', true);
                document.getElementById("Telephone").value = data.Telefono;
                $("#Telephone").prop('disabled', true);
                document.getElementById("IdEstado").value = data.Estado;
                $("#IdEstado").prop('disabled', true);
                document.getElementById("City").value = data.Municipio;
                $("#City").prop('disabled', true);
                document.getElementById("IdPais").value = data.Pais;
                $("#IdPais").prop('disabled', true);
                document.getElementById("Timezone").value = data.Horario;
                $("#Timezone").prop('disabled', true);
                document.getElementById("Detalle").value = data.Comentarios;
                $("#Detalle").prop('disabled', true);
                document.getElementById("SchoolID").value = $("#SelectEscuela").val();

                if(data.IsPrueba == true){
                    $("#BtnPrueba").hide();
                }

                var htmllista = '';
                if (data.TipoMensaje == 0) {
                    htmllista = htmllista + '<div class="alert alert-info"><strong>¡Espera!</strong> ' + data.Mensaje + ' </div>';
                }
                if (data.TipoMensaje == 1) {
                    htmllista = htmllista + '<div class="alert alert-danger"><strong>¡Se venció la licencia!</strong> ' + data.Mensaje + ' </div>';
                }
                if (data.TipoMensaje == 2) {
                    htmllista = htmllista + '<div class="alert alert-info"><strong>¡Correcto!</strong> ' + data.Mensaje + ' </div>';
                }
                $(div).html(htmllista);
            });
        });

        $('#NumeroAlumno').on('change', function () {
            document.getElementById("Cantidad").value = this.value;
        })
    });

    //Btn check Plan
    $(function () {
        $('.button-checkbox').each(function () {

            // Settings
            var $widget = $(this),
                $button = $widget.find('button'),
                $checkbox = $widget.find('input:checkbox'),
                color = $button.data('color'),
                settings = {
                    on: {
                        icon: 'glyphicon glyphicon-check'
                    },
                    off: {
                        icon: 'glyphicon glyphicon-unchecked'
                    }
                };

            // Event Handlers
            $button.on('click', function () {
                $checkbox.prop('checked', !$checkbox.is(':checked'));
                $checkbox.triggerHandler('change');
                updateDisplay();
            });
            $checkbox.on('change', function () {
                updateDisplay();
            });

            // Actions
            function updateDisplay() {
                var isChecked = $checkbox.is(':checked');

                // Set the button's state
                $button.data('state', (isChecked) ? "on" : "off");

                // Set the button's icon
                $button.find('.state-icon').removeClass().addClass('state-icon ' + settings[$button.data('state')].icon);

                // Update the button's color
                if (isChecked) {
                    var cantidad = $('#Cantidad').val();
                    //debugger;
                    if (cantidad == 0) {
                        bootbox.alert("Primero introduzca la cantidad de alumnos");
                    } else {


                    $button.removeClass('btn-default').addClass('btn-' + color + ' active');

                    planId = $checkbox.data("idplan");

                    document.getElementById("IdPlan").value = planId;
                    }
                }
                else {
                    $button.removeClass('btn-' + color + ' active').addClass('btn-default');

                    //Quitar plan
                    planId = "";
                    document.getElementById("IdPlan").value = planId;

                }
            }

            // Initialization
            function init() {

                updateDisplay();

                // Inject the icon if applicable
                if ($button.find('.state-icon').length == 0) {
                    $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                }
            }
            init();
        });
    });

    //Btn check Prueba
    $(function () {
        $('.button-checkbox2').each(function () {

            // Settings
            var $widget = $(this),
                $button = $widget.find('button'),
                $checkbox = $widget.find('input:checkbox'),
                color = $button.data('color'),
                settings = {
                    on: {
                        icon: 'glyphicon glyphicon-check'
                    },
                    off: {
                        icon: 'glyphicon glyphicon-unchecked'
                    }
                };

            // Event Handlers
            $button.on('click', function () {
                $checkbox.prop('checked', !$checkbox.is(':checked'));
                $checkbox.triggerHandler('change');
                updateDisplay();
            });
            $checkbox.on('change', function () {
                updateDisplay();
            });

            // Actions
            function updateDisplay() {
                var isChecked = $checkbox.is(':checked');

                // Set the button's state
                $button.data('state', (isChecked) ? "on" : "off");

                // Set the button's icon
                $button.find('.state-icon').removeClass().addClass('state-icon ' + settings[$button.data('state')].icon);

                // Update the button's color
                if (isChecked) {
                    $button.removeClass('btn-default').addClass('btn-' + color + ' active');

                    $('#NumeroAlum').show();
                    $("#BtnCompra").prop('disabled', true);
                    $("#Cantidad").prop('disabled', true);
                }
                else {
                    $button.removeClass('btn-' + color + ' active').addClass('btn-default');

                    $('#NumeroAlum').hide();
                    $("#BtnCompra").removeAttr('disabled');
                    $("#Cantidad").removeAttr('disabled');
                    document.getElementById("Cantidad").value = 0;
                }
            }

            // Initialization
            function init() {

                updateDisplay();

                // Inject the icon if applicable
                if ($button.find('.state-icon').length == 0) {
                    $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                }
            }
            init();
        });
    });

    $(function () {
        $('.button-checkbox3').each(function () {

            // Settings
            var $widget = $(this),
                $button = $widget.find('button'),
                $checkbox = $widget.find('input:checkbox'),
                color = $button.data('color'),
                settings = {
                    on: {
                        icon: 'glyphicon glyphicon-check'
                    },
                    off: {
                        icon: 'glyphicon glyphicon-unchecked'
                    }
                };

            // Event Handlers
            $button.on('click', function () {
                $checkbox.prop('checked', !$checkbox.is(':checked'));
                $checkbox.triggerHandler('change');
                updateDisplay();
            });
            $checkbox.on('change', function () {
                updateDisplay();
            });

            // Actions
            function updateDisplay() {
                var isChecked = $checkbox.is(':checked');

                // Set the button's state
                $button.data('state', (isChecked) ? "on" : "off");

                // Set the button's icon
                $button.find('.state-icon').removeClass().addClass('state-icon ' + settings[$button.data('state')].icon);

            }

            // Initialization
            function init() {

                updateDisplay();

                // Inject the icon if applicable
                if ($button.find('.state-icon').length == 0) {
                    $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                }
            }
            init();
        });
    });

    $(function () {
        $('.button-checkbox4').each(function () {

            // Settings
            var $widget = $(this),
                $button = $widget.find('button'),
                $checkbox = $widget.find('input:checkbox'),
                color = $button.data('color'),
                settings = {
                    on: {
                        icon: 'glyphicon glyphicon-check'
                    },
                    off: {
                        icon: 'glyphicon glyphicon-unchecked'
                    }
                };

            // Event Handlers
            $button.on('click', function () {
                $checkbox.prop('checked', !$checkbox.is(':checked'));
                $checkbox.triggerHandler('change');
                updateDisplay();
            });
            $checkbox.on('change', function () {
                updateDisplay();
            });

            // Actions
            function updateDisplay() {
                var isChecked = $checkbox.is(':checked');

                // Set the button's state
                $button.data('state', (isChecked) ? "on" : "off");

                // Set the button's icon
                $button.find('.state-icon').removeClass().addClass('state-icon ' + settings[$button.data('state')].icon);

                // Update the button's color
                if (isChecked) {
                    $button.removeClass('btn-default').addClass('btn-' + color + ' active');

                    $("#nombreDir").prop('disabled', true);
                    $("#apellidoP").prop('disabled', true);
                    $("#apellidoM").prop('disabled', true);
                    $("#correoDir").prop('disabled', true);
                    $("#Dia").prop('disabled', true);
                    $("#Mes").prop('disabled', true);
                    $("#Ano").prop('disabled', true);
                    $("#sexo").prop('disabled', true);
                }
                else {
                    $button.removeClass('btn-' + color + ' active').addClass('btn-default');

                    $("#nombreDir").removeAttr('disabled');
                    $("#apellidoP").removeAttr('disabled');
                    $("#apellidoM").removeAttr('disabled');
                    $("#correoDir").removeAttr('disabled');
                    $("#Dia").removeAttr('disabled');
                    $("#Mes").removeAttr('disabled');
                    $("#Ano").removeAttr('disabled');
                    $("#sexo").removeAttr('disabled');

                }
            }

            // Initialization
            function init() {

                updateDisplay();

                // Inject the icon if applicable
                if ($button.find('.state-icon').length == 0) {
                    $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                }
            }
            init();
        });
    });
</script>