﻿<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="~/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="~/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="~/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<script src="~/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>