﻿<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        <p class="text-muted" style="margin: 0px; text-align:center"><strong>© @DateTime.Now.Year SofiaXT, todos los derechos reservados. </strong></p>
    </div>
    <div class="page-footer-tools">
        <span class="go-top">
            <i class="fa fa-angle-up"></i>
        </span>
    </div>
</div>
<!-- END FOOTER -->