﻿<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es-mx">
<!--<![endif]-->
@Html.Partial("_PageHead")
@RenderSection("pagecss", required: false)
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        @Html.Partial("_Header")

        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">


            @Html.Partial("_SideBarAsesor")

            @Html.Partial("_Tracking")

            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                    <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">Modal title</h4>
                                </div>
                                <div class="modal-body">
                                    Widget settings form goes here
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn blue">Save changes</button>
                                    <button type="button" class="btn default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                    <!-- BEGIN PAGE CONTENT-->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
                            <!-- BEGIN CORE PLUGINS -->
                            <!--[if lt IE 9]>
                            <script src="../assets/global/plugins/respond.min.js"></script>
                            <script src="../assets/global/plugins/excanvas.min.js"></script>
                            <![endif]-->
                            <!-- BEGIN CORE PLUGINS -->
                            <script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
                            <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
                            <script src="~/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
                            <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
                            <script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
                            <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
                            <!-- END CORE PLUGINS -->
                            <!-- BEGIN THEME GLOBAL SCRIPTS -->
                            <script src="~/assets/global/scripts/app.min.js" type="text/javascript"></script>
                            <!-- END THEME GLOBAL SCRIPTS -->
                            @RenderBody()

                            @RenderSection("scripts", required: false)
                        </div>
                    </div>
                    <!-- END PAGE CONTENT-->
                </div>
            </div>
            <!-- END CONTENT -->

        </div>
        <!-- END CONTAINER -->
        @Html.Partial("_Footer")
    </div>

    @Html.Partial("_EndOfPage")
</body>

</html>