﻿<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <li class="nav-item  ">
                <a href="https://sofiaxt.atlassian.net/servicedesk/customer/portal/3" class="nav-link " target="_blank">
                    <i class="fa fa-info"></i>
                    <span class="title">Crear Reporte</span>
                </a>
            </li>
            <li class="nav-item start active open">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Inicio</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start active open">
                        <a href="@Url.Action("Index", "Home")" class="nav-link ">
                            <i class="icon-bar-chart"></i>
                            <span class="title">Datos Generales</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="heading">
                <h3 class="uppercase">Orden de compra</h3>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-basket"></i>
                    <span class="title">Orden de compra</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="@Url.Action("NuevaOrden", "Distribuidor", new { tipo = 1 })" class="nav-link ">
                            <span class="title">Nueva orden</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="@Url.Action("OrdenesRealizadas", "Distribuidor")" class="nav-link ">
                            <span class="title">Ordenes realizadas</span>
                        </a>
                    </li>
                    @*<li class="nav-item  ">
                        <a href="@Url.Action("ConsultarPlanes", "Distribuidor")" class="nav-link ">
                            <span class="title">Consultar planes</span>
                        </a>
                    </li>*@
                </ul>
            </li>
            <li class="heading">
                <h3 class="uppercase">Administración</h3>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon fa fa-bar-chart fa-lg"></i>
                    <span class="title">Estadísticas</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="@Url.Action("ReporteEscuelas", "Distribuidor")" class="nav-link ">
                            <span class="title">Ver estadísticas</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon fa fa-building fa-lg"></i>
                    <span class="title">Escuelas</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="@Url.Action("Escuela", "Distribuidor")" class="nav-link ">
                            <span class="title">Ver escuelas</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="@Url.Action("NuevaOrden", "Distribuidor", new { tipo = 2 })" class="nav-link ">
                            <span class="title">Agregar escuela</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-user"></i>
                    <span class="title">Directores</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="@Url.Action("Directores", "Distribuidor")" class="nav-link ">
                            <span class="title">Ver directores</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="@Url.Action("AgregarDirector", "Distribuidor")" class="nav-link ">
                            <span class="title">Agregar director</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-briefcase"></i>
                    <span class="title">Asesores</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="@Url.Action("Asesores", "Distribuidor")" class="nav-link ">
                            <span class="title">Ver Asesores</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="@Url.Action("AgregarAsesor", "Distribuidor")" class="nav-link ">
                            <span class="title">Agregar asesor</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-briefcase"></i>
                    <span class="title">Coordinadores Escuela</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="@Url.Action("Coordinadores", "Distribuidor")" class="nav-link ">
                            <span class="title">Ver Coordinadores</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="@Url.Action("AgregarCoodinador", "Distribuidor")" class="nav-link ">
                            <span class="title">Agregar Coordinador</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="heading">
                <h3 class="uppercase">Configuración</h3>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-settings"></i>
                    <span class="title">Configuración del Usuario</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="@Url.Action("MiPerfil", "Distribuidor")" class="nav-link ">
                            <span class="title">Mi perfil</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="@Url.Action("ChangePassword", "Distribuidor")" class="nav-link ">
                            <span class="title">Cambiar contraseña</span>
                        </a>
                    </li>
                    
                </ul>
            </li>
            @*<li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-folder"></i>
                    <span class="title">Recursos</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="@Url.Action("MiPerfil", "Distribuidor")" class="nav-link ">
                            <span class="title">Mi perfil</span>
                        </a>
                    </li>
                </ul>
            </li>*@
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->

