﻿@model IEnumerable<DistribucionSofia.Models.Coordinador>
@{
    List<SelectListItem> selectListCoordinador = new List<SelectListItem>();
    foreach (var a in Model)
    {
        SelectListItem i = new SelectListItem();
        i.Text = a.aspnet_Users.UserExtra.Name + " " + a.aspnet_Users.UserExtra.LastNameP + " " + a.aspnet_Users.UserExtra.LastNameM;
        i.Value = a.Id.ToString();
        selectListCoordinador.Add(i);
    }

    var schools = ViewBag.SchoolList as IEnumerable<DistribucionSofia.Models.School>;
    List<SelectListItem> selectListSchool = new List<SelectListItem>();
    if (schools.Count() > 0)
    {
        foreach (var i in schools)
        {
            SelectListItem a = new SelectListItem();
            a.Text = i.Name;
            a.Value = i.SchoolID.ToString();
            selectListSchool.Add(a);
        }
    }
    else
    {
        selectListSchool.Add(new SelectListItem() { Text = "No tienes escuelas sin coordinador", Value = "1" });
    }
}

<div class="modal-content" id="cambiar">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Cambiar/Quitar Escuela</h4>
    </div>
    <div class="modal-body">
        <label class="col-sm-2 control-label">Coordinadores: </label>
        <div class="col-sm-10">
            @Html.DropDownList("SelectCoordinador", new SelectList(selectListCoordinador, "Value", "Text"), "Seleccione Coordinador", new { @class = "form-control" })
        </div>
        <br />
        <br />
        <div class="full-box-item ">
            <div class="schoolCoordinador"></div>
        </div>
        <br />

        <label class="col-sm-2 control-label">Escuelas sin coordinador: </label>
        <div class="col-sm-10">
            <div class="input-group">
                @Html.DropDownList("SelectSchool", new SelectList(selectListSchool, "Value", "Text"), "Seleccione la escuela", new { @class = "form-control" })
                <span class="input-group-btn">
                    <input id="Submit1" type="submit" value="Guardar" class="guardarSchool btn btn-primary" />
                </span>
            </div>
        </div>
        <br />
        <br />
    </div>
    <div class="modal-footer">
        <p>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </p>
    </div>
</div>

<script type="text/javascript">
    $("#cambiar").on("click", ".guardarSchool", null, function () {
        var a = document.getElementById("SelectCoordinador");
        var coordinador = a.options[a.selectedIndex].value;
        //debugger;
        var e = document.getElementById("SelectSchool");
        var school = e.options[e.selectedIndex].value;

        var url = '@Url.Action("_ChangeSchools", "Distribuidor")';
        $.get(url, { IdCoordinador: coordinador, SchoolID: school }, function (data) {
            if (data) {
                Recargar(coordinador);
                e.options.remove(0);
                bootbox.alert("Se guardo correctamente");
            } else {
                bootbox.alert("Ha ocurrido un error");
            }
        });
    });

    $(document).ready(function () {
        $("#SelectCoordinador").change(function () {
            var div = $(".schoolCoordinador");
            if ($(this).val() != "") {
                var url = "@Url.Action("_GetSchoolCoor", "Distribuidor")";
                $.get(url, { id: $("#SelectCoordinador").val() }, function (data) {
                    var htmllista = '<table id="table_Schools" class="table table-striped">';
                    htmllista = htmllista + "<thead>";
                    htmllista = htmllista + "<tr>";
                    htmllista = htmllista + "<th> Nombre </th>";
                    htmllista = htmllista + "<th> Clave </th>";
                    htmllista = htmllista + "<th> Dependencia </th>";
                    htmllista = htmllista + "<th> Escolaridad </th>";
                    htmllista = htmllista + "<th> Opción </th>";
                    htmllista = htmllista + "</tr></thead>";
                    if (data.length > 0) {
                        $(data).each(function () {
                            htmllista = htmllista + "<tr>";
                            htmllista = htmllista + "<td>" + this.Nombre + "</td>";
                            htmllista = htmllista + "<td>" + this.Clave + "</td>";
                            htmllista = htmllista + "<td>" + this.Dependencia + "</td>";
                            htmllista = htmllista + "<td>" + this.Escolaridad + "</td>";
                            htmllista = htmllista + "<td> <a href='#' class='desligar btn-danger btn-sm' data-coordinador='" + this.IdCoor + "' data-id=" + this.Id + "><span class='fa fa-chain-broken'></span> Quitar Escuela</a> </td>";
                            htmllista = htmllista + "</tr>"
                        });
                        htmllista = htmllista + "</table>";
                        $(div).html(htmllista);
                    } else {
                        $(div).html('<div class="full-box-item"> <div class="alert alert-warning"><strong> Sin Escuelas </strong> <span class="fa fa-arrow-down fa-lg"></span>.</div></div>');
                    }
                })
                .fail(function () {
                    $(div).html("Hubo un error al cargar");
                })
            }
        });
    });

    $("#cambiar").on("click", ".desligar", null, function () {
        //debugger;
        var id = $(this).data("id");
        var idCoor = $(this).data("coordinador");
        //debugger;
        bootbox.confirm("¿Desea quitar este escuela al coordinador?", function (result) {
            if (result) {
                //debugger;
                $.get("/Distribuidor/_DeleteSchoolCoordinador/", { Id: id }, function (data) {
                    if (data) {
                        Recargar(idCoor);
                        bootbox.alert("Se ha realizado el cambio correctamente.");
                    }
                    else {
                        bootbox.alert("Hubo un error al guardar los cambios, intente de nuevo por favor.");
                    }
                });
            }
        });

    });

    function Recargar(idCoor) {
        var div = $(".schoolCoordinador");
        var url = "@Url.Action("_GetSchoolCoor", "Distribuidor")";
        $.get(url, { id: idCoor }, function (data) {
            var htmllista = '<table id="table_schools" class="table table-striped">';
            htmllista = htmllista + "<thead>";
            htmllista = htmllista + "<tr>";
            htmllista = htmllista + "<th> Nombre </th>";
            htmllista = htmllista + "<th> Clave </th>";
            htmllista = htmllista + "<th> Dependencia </th>";
            htmllista = htmllista + "<th> Escolaridad </th>";
            htmllista = htmllista + "<th> Opción </th>";
            htmllista = htmllista + "</tr></thead>";
            if (data.length > 0) {
                $(data).each(function () {
                    htmllista = htmllista + "<tr>";
                    htmllista = htmllista + "<td>" + this.Nombre + "</td>";
                    htmllista = htmllista + "<td>" + this.Clave + "</td>";
                    htmllista = htmllista + "<td>" + this.Dependencia + "</td>";
                    htmllista = htmllista + "<td>" + this.Escolaridad + "</td>";
                    htmllista = htmllista + "<td> <a href='#' class='desligar btn-danger btn-sm' data-coordinador='" + this.IdCoor + "' data-id=" + this.Id + "><span class='fa fa-chain-broken'></span> Quitar Escuela</a> </td>";
                    htmllista = htmllista + "</tr>"
                });
                htmllista = htmllista + "</table>";
                $(div).html(htmllista);
            } else {
                $(div).html('<div class="full-box-item"> <div class="alert alert-warning"><strong> Sin Grupos </strong> <span class="fa fa-arrow-down fa-lg"></span>.</div></div>');
            }
        })
        .fail(function () {
            $(div).html("Hubo un error al cargar");
        })
    };

</script>