﻿@model IEnumerable<DistribucionSofia.Models.SchoolContacto>
@{
    ViewBag.Title = "_ContactoSchool";

}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Contacto</h4>
    </div>
    <div class="modal-body">
        <div class="contactoMuestra">
            @if (Model == null)
            {
                <div class="alert alert-warning">
                    <strong>¡Atención!</strong> No se ha registrado ningún contacto, haga <a href="#" id="agregarConctacto">clic aquí</a> para agregar.
                </div>
            }
            else
            {
                <a href="#" id="agregarConctacto" class="btn btn-primary btn-spacebelow"><span class="fa fa-user-plus"></span> Agregar nuevo</a>

                <div class="table-responsive">
                    <table id="table_contacto" class="table table-striped table-hover table-fixed">
                        <thead>
                            <tr class="nowrap">
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Teléfono
                                </th>
                                <th>
                                    Correo
                                </th>
                                <th>
                                    Opciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="nowrap" id="@item.IdSchoolContacto">
                                    <td>@item.Nombre</td>
                                    <td>@item.Telefono</td>
                                    <td>@item.Correo</td>
                                    <td><a class="btn btn-danger btn-sm deletecontacto" data-idcontacto="@item.IdSchoolContacto">Eliminar contacto</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            <div id="addContacto">

            </div>
        </div>
    </div>
</div>

<script>
    var suma = 0;
    $(".contactoMuestra").on("click", "#agregarConctacto", function (event) {
        if (suma == 0) {
            var newStudent = '<form class="form-inline form-register contacto_row"><br/> ';
            newStudent += '<div class="form-group">';
            newStudent += '<input type="text" class="form-control"  id="nombre" placeholder="Nombre"> &nbsp';
            newStudent += '<input type="text" class="form-control"  id="telefono" placeholder="Teléfono"> &nbsp';
            newStudent += '<input type="text" class="form-control"  id="correo" placeholder="Correo"> &nbsp';
            newStudent += '</div>';
            newStudent += '<a class="btn btn-theme" id="registrarContacto" href="#">Registrar</a> &nbsp <buttom class="btn btn-danger cancel-register"><span class="fa fa-times"></span> </button>';
            newStudent += '</form> ';


            $("#addContacto").append(newStudent);
        }
        suma++;
    });

    $(".contactoMuestra").on("click", ".cancel-register", function (event) {
        suma = 0;
        $(this).parent("form.form-inline.form-register").remove();
    });
    $(document).ready(function () {
        $(".deletecontacto").on("click", function (event) {
            debugger;
            var idCon = $(this).data("idcontacto");
            var tr = "#" + idCon;

            var SchoolID = '@(ViewBag.SchoolID)';
            debugger;
            bootbox.confirm("¿Desea eliminar este contacto?, una vez elimnado ya no podrá revertir el cambio", function (result) {
                if (result) {
                    $.get("/Distribuidor/_deleteContacto", { SchoolID: SchoolID, idContacto: idCon }, function (d) {
                        if (d) {
                            Notifier.success("Se ha eliminado correctamente", "Correcto");
                            $(".contacto").load(document.URL + " .contacto");
                            $(tr).remove();
                        }
                        else {
                            Notifier.error("Ha ocurrido un error", "Espera");
                        }
                    });
                }
            });
        });
    });

    $(".contactoMuestra").on("click", "#registrarContacto", function (event) {
        var div = $(this).parent("form.form-inline.form-register").remove();
        var nombre = $(this).parent().find("#nombre").first().val();
        var telefono = $(this).parent().find("#telefono").first().val();
        var correo = $(this).parent().find("#correo").first().val();
        var SchoolID = '@(ViewBag.SchoolID)';
        //debugger;
        $.get("/Distribuidor/_addContacto", { SchoolID: SchoolID, Nombre: nombre, Telefono: telefono, Correo: correo }, function (d) {
            if (d) {
                Notifier.success("Se ha guardado correctamente", "Correcto");
                $(".contacto").load(document.URL + " .contacto");
                $(div).remove();
            }
            else {
                Notifier.error("Ha ocurrido un error", "Espera");
            }
        });
    });
</script>