﻿@model DistribucionSofia.Models.School
@{
    ViewBag.Title = "_FacturaSchool";


    var paises = new string[] { "México" };
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Datos de Facturación</h4>
    </div>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        @Html.HiddenFor(x => x.SchoolID)

        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.FacRFC, "RFC:")
                    @Html.TextBoxFor(model => model.FacRFC, new { @class = "text round_6 form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-10">
                    @Html.LabelFor(model => model.FacRazonSocial, "Nombre o Razón Social:")
                    @Html.TextBoxFor(model => model.FacRazonSocial, new { @class = "text round_6 form-control" })
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.FacCalle, "Calle:")
                    @Html.TextBoxFor(model => model.FacCalle, new { @class = "text round_6 form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.FacNumExt, "Número Ext.:")
                    @Html.TextBoxFor(model => model.FacNumExt, new { @class = "text round_6 form-control" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.FacNumInt, "Número Int.:")
                    @Html.TextBoxFor(model => model.FacNumInt, new { @class = "text round_6 form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.FacColonia, "Colonia:")
                    @Html.TextBoxFor(model => model.FacColonia, new { @class = "text round_6 form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.FacLocalidad, "Localidad:")
                    @Html.TextBoxFor(model => model.FacLocalidad, new { @class = "text round_6 form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.FacReferencia, "Referencia:")
                    @Html.TextBoxFor(model => model.FacReferencia, new { @class = "text round_6 form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.FacDelegacion, "Delegación/Municipio:")
                    @Html.TextBoxFor(model => model.FacDelegacion, new { @class = "text round_6 form-control" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.FacEstadoCode, "Estado:")
                    @Html.DropDownListFor(model => model.FacEstadoCode, new SelectList(ViewBag.Estados, "ID", "Nombre"), "Seleccionar", new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.FacPais, "País:")
                    @Html.DropDownListFor(x => x.FacPais, new SelectList(paises), "Seleccionar", new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.FacCodigoPostal, "Código Postal:")
                    @Html.TextBoxFor(model => model.FacCodigoPostal, new { @class = "text round_6 form-control" })
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <p>
                <input type="submit" value="Guardar" class="btn btn-primary" />  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </p>
        </div>
    }
</div>