﻿@model PagedList.IPagedList<DistribucionSofia.Models.Distribuidor>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Asesores";

    Layout = "~/Views/Shared/_LayoutDistribuidor.cshtml";
}

@using (Html.BeginForm("Asesores", "Distribuidor", FormMethod.Get))
{
    <div class="well">
        <h3>Filtros de búsqueda</h3>
        <div class="portlet-body form">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Nombre", "Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBox("Nombre", null, "Filtrar por nombre", new { @class = "form-control " })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="">
                    <div class="">

                        <input type="submit" value="Filtrar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Count() > 0)
{
    <div class="well">
        <table class="table">
            <tr>
                <th>
                    Usuario
                </th>
                <th>
                    Nombre
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr id="@item.Id">
                    <td>
                        @item.aspnet_Users.UserName
                    </td>
                    <td>
                        @item.aspnet_Users.UserExtra.Name @item.aspnet_Users.UserExtra.LastNameP @item.aspnet_Users.UserExtra.LastNameM
                    </td>
                </tr>
            }

        </table>
    </div>

}
else
{
    <div class="alert alert-danger">No se ha registrado ningún asesor</div>
}

<div>
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Asesores",
    new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        Nombre = ViewBag.NombreFilter
    }))

</div>