﻿@model PagedList.IPagedList<DistribucionSofia.Models.School>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Escuela";

    Layout = "~/Views/Shared/_LayoutDistribuidor.cshtml";

    List<SelectListItem> lista = new List<SelectListItem>();
    lista.Add(new SelectListItem() { Text = "Hombre", Value = "1" });
    lista.Add(new SelectListItem() { Text = "Mujer", Value = "0" });
    int mes, anio;
}
<script src="../assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>

@using (Html.BeginForm("Escuela", "Distribuidor", FormMethod.Get))
{
<div class="well">
    <h3>Filtros de búsqueda</h3>
    <div class="portlet-body form">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        @Html.Label("Nombre", "Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBox("Nombre", null, new { @class = "form-control", placeholder = "Filtrar por nombre", })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Clave", "Clave", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBox("Clave", null, new { @class = "form-control", placeholder = "Filtrar por clave", })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        @Html.Label("Dependencia", "Dependencia", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownList("Dependencia", null, "Filtrar por dependencia", new { @class = "form-control " })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("NivelEscolar", "Nivel Escolar", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownList("NivelEscolar", null, "Filtrar por nivel", new { @class = "form-control " })
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="">
                    <a type="button" href="#" class="btn btn-info boton"><span class="fa fa-user fa-lg"></span> pulsame</a>
                    <input type="submit" value="Filtrar" class="btn btn-primary" />
                    @*@Html.ActionLink("Imprimir Profesores Esc", "Excel_Asignadas1x1", "Distribuidor", null, new { @class = "btn btn-info" })*@
                    @*@Html.ActionLink("imprimir creadas", "Excel_Creadas", "Distribuidor", null, new { @class = "btn btn-info" })*@
                    @*@Html.ActionLink("Imprimir puntos", "Excel_AlumnosPuntosPromedio", "Distribuidor", null, new { @class = "btn btn-info" })*@

                </div>
            </div>
        </div>
    </div>
</div>
}

<ul class="list-group">
    @foreach (var item in Model.OrderBy(y => y.Name))
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-1 col-xs-2"> <span class="fa fa-building fa-3x" style="line-height:50px"></span> </div>
                <div class="col-sm-7 col-xs-10">
                    <div class="mensaje"> Escuela: <strong> @item.Name </strong></div>
                    <ul class="mic-info">
                        <li>
                            Director:
                            @if (item.IdDirector.HasValue)
                            {
                                <text> @item.Director.aspnet_Users.UserExtra.Name @item.Director.aspnet_Users.UserExtra.LastNameP</text>
                            }
                            else
                            {
                                @*<a href="#" class="addDirector btn btn-link" data-idschool="@item.SchoolID">Agregar Director</a>*@
                                <text> Sin Director </text>
                            }
                        </li>
                        <li>Clave: @(string.IsNullOrEmpty(item.ClaveOficial) ? "Sin clave" : item.ClaveOficial)</li>
                        <li>Dependencia: @DistribucionSofia.Extensions.GetDisplayName((DistribucionSofia.Models.Enum.EnumDependenciaEscuela)item.Dependencia)</li>
                        <li>Nivel: @DistribucionSofia.Extensions.GetDisplayName((DistribucionSofia.Models.Enum.EnumNivelEscolar)item.Scholar_Level)</li>
                        <li>Turno: @(item.Turno != null ? (item.Turno == 1 ? "Matutino" : "Vespertino") : "Sin Establecer")</li>
                        <li>
                            Licencia:
                            @if (item.Licencias.Count() > 0)
                            {
                                foreach (var lic in item.Licencias)
                                {
                                    if (lic.IsAprobado == true && lic.FechaFinal > DateTime.UtcNow)
                                    {
                                        <span class='fa fa-check fa-lg' style='color:green'></span>
                                    }
                                    else
                                    {
                                        <span class='fa fa-times fa-lg' style='color:red'></span>
                                    }
                                }

                            }
                            else
                            {
                                <span><strong>Sin licencia</strong></span>
                            }
                        </li>
                        <li>
                            Escuela Distribuidor:
                            @if (ViewBag.AddSchool == true)
                            {
                                if (item.IsDistribuidor == true)
                                {
                                    <span class='fa fa-check fa-lg' style='color:green'></span>
                                }
                                else
                                {
                                    <span class='fa fa-times fa-lg' style='color:red'></span>
                                }
                            }
                            else
                            {
                                <input type="checkbox" name="my-checkbox" id="@item.SchoolID" onclick="CheckChange(this, this.id)">
                            }
                        </li>
                        @if (User.Identity.Name == "D99680")
                        {
                            <li>
                                Vinculación: @(item.VinculacionExternaType == 0 ? "Ninguno" : "EDUCARE" )
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="btn-group btn-group-justified" role="group">
                        @if (User.Identity.Name == "D99680")
                        {
                            <a type="button" href="#" class="btn blue mt-ladda-btn ladda-button btn-outline editar" data-toggle="modal" data-target="#EditarSchool" data-idschool="@item.SchoolID"><span class="fa fa-building fa-lg"></span> <br />Editar</a>
                        }
                        @if (item.Licencias.Where(x => x.CicloEscolar == 2018).Count() > 0)
                        {
                            <a type="button" href="#" class="btn green btn-default activar" data-idschool="@item.SchoolID"><span class="fa fa-check fa-lg"></span> <br />Cancelar Licencia</a>
                        }
                        

                        <a type="button" href="#" class="btn blue mt-ladda-btn ladda-button btn-outline detalle" data-toggle="modal" data-target="#DetalleSchool" data-idschool="@item.SchoolID"><span class="fa fa-reorder fa-lg"></span> <br />Detalle</a>
                        
                        <a type="button" href="#" class="btn btn-primary licencia" data-toggle="modal" data-target="#LicenciaSchool" data-idschool="@item.SchoolID"><span class="fa fa-key fa-lg"></span> <br />Licencia</a>
                        
                        @*<a type="button" href="#" class="btn btn-info contacto" data-toggle="modal" data-target="#ContactoSchools" data-idschool="@item.SchoolID"><span class="fa fa-user fa-lg"></span> <br />Contacto</a>*@

                        
                    </div>
                    @if (item.Licencias.Count() > 0)
                    {

                        mes = item.Licencias.OrderByDescending(y => y.FechaFinal).FirstOrDefault().FechaFinal.Value.Month;
                        anio = item.Licencias.OrderByDescending(y => y.FechaFinal).FirstOrDefault().FechaFinal.Value.Year;
                        if ((mes - 1) == DateTime.Now.Month && anio == DateTime.Now.Year)
                        {
                            <div class="alert alert-danger text-center">
                                <strong>La Licencia expira. </strong> @item.Licencias.OrderByDescending(y => y.FechaFinal).FirstOrDefault().FechaFinal.Value.ToShortDateString(), renuevala <a href="@Url.Action("NuevaOrden", "Distribuidor", new { tipo = 3, EscuelaID = item.SchoolID })">aquí</a>.
                            </div>
                        }
                        if (item.Licencias.OrderByDescending(y => y.FechaFinal).FirstOrDefault().FechaFinal < DateTime.Now)
                        {
                            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                
                                <strong>La licencia ha expirado el día @item.Licencias.OrderByDescending(y => y.FechaFinal).FirstOrDefault().FechaFinal.Value.ToShortDateString().</strong> renuevala <a href="@Url.Action("NuevaOrden", "Distribuidor", new { tipo = 1, EscuelaID = ViewBag.idSchool })">aquí</a>.
                            </div>
                        }
                    }
                </div>
            </div>
        </li>
    }
</ul>
<div>
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Escuela",
    new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        Dependencia = ViewBag.DependenciaFilter,
        NivelEscolar = ViewBag.NivelescolarFilter,
        Nombre = ViewBag.NombreFilter,
        Clave = ViewBag.ClaveFilter
    }))

</div>

<div id="DetalleSchool" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-url="@Url.Action("_DetalleEscuela")">
    <div class="modal-dialog modal-lg" id="containerSchool">
    </div>
</div>
<div id="EditarSchool" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-url="@Url.Action("EditarEscuela")">
    <div class="modal-dialog modal-lg" id="containerEditar">
    </div>
</div>
<div id="LicenciaSchool" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-url="@Url.Action("_LicenciaSchool")">
    <div class="modal-dialog modal-lg" id="containerLicencia">
    </div>
</div>
<div id="ContactoSchools" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-url="@Url.Action("_ContactoSchool")">
    <div class="modal-dialog modal-lg" id="containerContacto">
    </div>
</div>
<div id="addDirectorModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar Director</h4>
            </div>
            <div class="modal-body divregister">
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.Label("NameDirector", "Nombres (*)")
                        @Html.TextBox("Name2", null, new { @class = "text round_6 form-control", placeholder = "Nombre" })
                    </div>

                    <div class="form-group col-md-4">
                        @Html.Label("APDirector", "Apellido Paterno (*)")
                        @Html.TextBox("AP2", null, new { @class = "text round_6 form-control", placeholder = "Apellido Paterno" })
                    </div>

                    <div class="form-group col-md-4">
                        @Html.Label("AMDirector", "Apellido Materno (*)")
                        @Html.TextBox("AM2", null, new { @class = "text round_6 form-control", placeholder = "Apellido Materno" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.Label("CorreoDirector", "Correo (*)")
                        @Html.TextBox("Correo2", null, new { @Value = "general@sofiaxt.com", @class = "text round_6 form-control", placeholder = "Correo" })
                    </div>

                    <div class="form-group col-md-4">
                        @Html.Label("BirthdarDirector", "Fecha de nacimiento (*)")
                        @Html.TextBox("Birthday2", null, new { @class = "datepicker text round_6 form-control", placeholder = "Fecha de nacimiento" })
                    </div>

                    <div class="form-group col-md-4">

                        @Html.Label("Sexo (*)")
                        @Html.DropDownList("Sexo2", new SelectList(lista, "Value", "Text"), "Seleccionar", new { @class = "form-control" })
                    </div>
                    @Html.Hidden("IdSchoolRegister", string.Empty)
                </div>
            </div>
            <div class="modal-footer">
                <p>
                    <button type="button" class="btn btn-primary registrarDirector">Registrar</button>  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </p>

            </div>
        </div>
    </div>
</div>

<script>
    $("body").on("click", ".boton", function () {
        
        debugger;
        $.get("/Distribuidor/_updateschool2", function (data) {
        //$.get("/LicenciaManager/_UpdateDirector", function (data) {
            if (data.correcto) {
                bootbox.alert(data.mensaje + "");
            } else {
                bootbox.alert(data.mensaje);
            }
        });
    });

    $("body").on("click", ".activar", function () {
        var idschool = $(this).data("idschool");
        //debugger;
        bootbox.confirm("Al cancelar la licencia, perdera licencia toda la escuela, alumnos y profesores. ¿Está seguró?.", function (result)
        {
            if (result) 
            {
                $.get("/Distribuidor/_CancelarLicencia", { idEscuela: idschool }, function (data) {
                    if (data.correcto) {
                        bootbox.alert(data.mensaje);
                    } else {
                        bootbox.alert(data.mensaje);
                    }
                });
            }
        });
        
    });

    $("body").on("click", ".detalle", function () {
        var idschool = $(this).data("idschool");
        var url = $("#DetalleSchool").data("url");
        //debugger;
        $.get(url, { id: idschool }, function (data) {
            $("#containerSchool").html(data);

            $("#DetalleSchool").modal("show");
        });
    });

    $("body").on("click", ".editar", function () {
        var idschool = $(this).data("idschool");
        var url = $("#EditarSchool").data("url");
        //debugger;
        $.get(url, { id: idschool }, function (data) {
            $("#containerEditar").html(data);

            $("#EditarSchool").modal("show");
        });
    });

    $("body").on("click", ".licencia", function () {
        var idschool = $(this).data("idschool");
        var url = $("#LicenciaSchool").data("url");
        $.get(url, { id: idschool }, function (data) {
            $("#containerLicencia").html(data);

            $("#LicenciaSchool").modal("show");
        });
    });

    $("body").on("click", ".contacto", function () {
        var idschool = $(this).data("idschool");
        var url = $("#ContactoSchools").data("url");
        $.get(url, { id: idschool }, function (data) {
            $("#containerContacto").html(data);

            $("#ContactoSchools").modal("show");
        });
    });

    $("body").on("click", ".addDirector", function () {
        var idschool = $(this).data("idschool");
        document.getElementById("IdSchoolRegister").value = idschool;
        $("#addDirectorModal").modal('show');

    });

    $("body").on("click", ".registrarDirector", function () {
        var idschool = document.getElementById("IdSchoolRegister").value;
        var name = $(".divregister").parent().find("#Name2").first().val();
        var AP = $(".divregister").parent().find("#AP2").first().val();
        var AM = $(".divregister").parent().find("#AM2").first().val();
        var Correo = $(".divregister").parent().find("#Correo2").first().val();
        var Birthday = $(".divregister").parent().find("#Birthday2").first().val();
        var Sexo = $(".divregister").parent().find("#Sexo2").first().val();
        
        if (name == "") {
            bootbox.alert("Espera, no has puesto el nombre del director");
        } else if (AP == "") {
            bootbox.alert("Espera, no has puesto el apellido del director");
        } else if (Correo == "") {
            bootbox.alert("Espera, no has puesto el correo del director");
        } else {
            //debugger;
            $.get("/Distribuidor/_CreateDirectorDistri", { Name: name, LastNameP: AP, LastNameM: AM, Email: "" + Correo, Birthday: "" + Birthday, Sexo: Sexo, SchoolID: idschool }, function (data) {
                if (data) {
                    $(".divregister").parent().find("#Name2").first().val('');
                    $(".divregister").parent().find("#AP2").first().val('');
                    $(".divregister").parent().find("#AM2").first().val('');
                    $(".divregister").parent().find("#Correo2").first().val('general@sofiaxt.com');
                    $(".divregister").parent().find("#Birthday2").first().val('');
                    $("#addDirectorModal").modal("hide");
                    Notifier.success("Se ha creado el director", "Correcto");
                    location.reload();
                } else {
                    Notifier.error("Ha ocurrido un error", "Espera");
                }
            });
            }
    });
</script>