﻿@model IEnumerable<DistribucionSofia.Models.OrdenCompra>
@{
    ViewBag.Title = "Ordenes Realizadas";

    Layout = "~/Views/Shared/_LayoutDistribuidor.cshtml";
}
<h3 class="page-title">
    Ordenes Realizadas
</h3>
@if (Model.Count() > 0)
{

    <div class="well">
        <table id="table_director" class="table table-striped table-hover table-fixed">
            <thead>
                <tr class="nowrap">
                    <th>
                        Escuela
                    </th>
                    <th>
                        Producto(s)
                    </th>
                    <th>
                        Fecha
                    </th>
                    <th>
                       Total
                    </th>
                    <th>
                        Facturado
                    </th>
                    <th>
                        Estatus
                    </th>
                    <th>
                        Importe Pagado
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model.OrderBy(x=>x.Estatus).ThenByDescending(y=>y.FechaRegistro))
                {
                    <tr class="nowrap">
                        <td>
                            @a.School.Name
                        </td>
                        <td>
                            @foreach (var pro in a.OrdenCompraProductoes)
                            {
                                <span> @pro.Cantidad @pro.Unidad @pro.Concepto </span><br />
                            }
                        </td>
                        <td>
                            @a.FechaRegistro.ToShortDateString()
                        </td>
                        <td>
                            $@a.Total.ToString("0.00")
                        </td>
                        <td>
                            @(a.ReqFactura == true ? (a.Facturado == true ? "Facturado" : "Sin Facturar") : "No solicito factura")
                        </td>
                        <td>
                            @((DistribucionSofia.Models.Enum.EnumOrden)a.Estatus)
                            
                        </td>
                        <td>
                           $@a.TotalPagado.ToString("0.00")
                        </td>
                        <td>

                            <a type="button" href="@Url.Action("Orden", "Distribuidor", new { idorden = a.Id })" class="btn btn-info btn-sm detalle" ><span class="fa fa-bars"></span> Detalle</a>
                            @if (!a.School.Licencias.OrderByDescending(x => x.FechaFinal).FirstOrDefault().IsPrueba)
                            {
                                @*<a type="button" href="#" class="btn btn-success btn-sm pagar" data-toggle="modal" data-target="#PagoOrden" data-idorden="@a.Id"><span class="fa fa-credit-card"></span> Pagar</a>*@
                                @*<a type="button" href="#" class="btn btn-success btn-sm btncompra" data-idorden="@a.Id"><span class="fa fa-credit-card"></span> Pagar</a>*@
                            }
                            
                            <a type="button" href="#" class="btn btn-danger btn-sm cancelar" data-idorden="@a.Id"><span class="fa fa-times"></span> Cancelar</a>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
else
{
    <div class="alert alert-info">No se ha registrado ninguna orden de compra</div>
}

<div id="DetalleCompra" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-url="@Url.Action("_DetalleCompra")">
    <div class="modal-dialog modal-lg" id="containerCompra">
    </div>
</div>

<div id="PagoOrden" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-url="@Url.Action("PagoTarjeta")">
    <div class="modal-dialog modal-lg" id="containerPago">
    </div>
</div>

<script>
    $(".btncompra").click(function () {
        var idplan = $(this).data("id");
        bootbox.dialog({
            title: "¿Cómo desea realizar su pago?",
            message:
            '<div class="row">  ' +
            '</div>',
            buttons: {
                cancel: {
                    label: "Pago en Oxxo",
                    className: "btn btn-primary",
                    callback: function () {
                        var url = "/Licencia/PagoSucursal?idPlan=" + idplan + "&alumnos=0";
                        //debugger;
                        window.location.href = url;
                    }
                },
                success: {
                    label: "Pago con Tarjeta",
                    className: "btn btn-primary",
                    callback: function () {
                        var url = "/Licencia/PagoTarjeta?idPlan=" + idplan + "&alumnos=0";
                        //debugger;
                        window.location.href = url;
                    }
                }
            }
        });
    });
    
    $("body").on("click", ".detalle", function () {
        var idorden = $(this).data("idorden");
        var url = $("#DetalleCompra").data("url");
        
        $.get(url, { id: idorden }, function (data) {
            $("#containerPago").html(data);

            $("#DetalleCompra").modal("show");
        });
    });

    $("body").on("click", ".pagar", function () {
        var idorden = $(this).data("idorden");
        var url = $("#PagoOrden").data("url");

        $.get(url, { id: idorden }, function (data) {
            $("#containerPago").html(data);

            $("#PagoOrden").modal("show");
        });
    });

    $("body").on("click", ".cancelar", null, function () {
        
        var id = $(this).data("idorden");
        
        bootbox.confirm("¿Desea cancelar la orden de compra?", function (result) {
            if (result) {
                
                $.get("/Distribuidor/_CancelarOrden/", { Id: id }, function (data) {
                    if (data) {
                        
                        bootbox.alert("Se ha cancelado correctamente.");
                    }
                    else {
                        bootbox.alert("Hubo un error al guardar los cambios, intente de nuevo por favor.");
                    }
                });
            }
        });

    });
</script>