﻿@model DistribucionSofia.Models.OrdenCompra
@{
    ViewBag.Title = "Orden Confirmada de la escuela " + Model.School.Name;

    Layout = "~/Views/Shared/_LayoutDistribuidor.cshtml";

    var escuela = Model.School;
    var director = Model.School.Director;
    var licencia = Model.Licencia;
}

<div class="well" id="area">
    <h3>Descripción de Orden de compra</h3>
    <div class="panel panel-default">
        
        <div class="panel-heading">
            <h4 class="panel-title">
                <span class="fa fa-building"></span> Datos de la Escuela
            </h4>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    Nombre: <strong class="pull-right">@escuela.Name </strong>
                </li>
                <li class="list-group-item">
                    Clave:  <strong class="pull-right">@escuela.ClaveOficial</strong>
                </li>
                <li class="list-group-item">
                    Dependencia: <strong class="pull-right">@DistribucionSofia.Extensions.GetDisplayName((DistribucionSofia.Models.Enum.EnumDependenciaEscuela)escuela.Dependencia)</strong>
                </li>
                <li class="list-group-item">
                    Escolaridad: <strong class="pull-right">@DistribucionSofia.Extensions.GetDisplayName((DistribucionSofia.Models.Enum.EnumNivelEscolar)escuela.Scholar_Level)</strong>
                </li>
                <li class="list-group-item">
                    Dirección: <strong class="pull-right">@escuela.Address</strong>
                </li>
                <li class="list-group-item">
                    Teléfono: <strong class="pull-right">@escuela.Telephone</strong>
                </li>
                <li class="list-group-item">
                    Municipio: <strong class="pull-right">@escuela.City</strong>
                </li>
                <li class="list-group-item">
                    Estado: <strong class="pull-right">@escuela.Estado.Nombre</strong>
                </li>
                <li class="list-group-item">
                    País: <strong class="pull-right">@escuela.Pai.Nombre</strong>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <span class="fa fa-key"></span> Datos de la Licencia
            </h4>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    Plan: <strong class="pull-right">@licencia.Plan.Nombre</strong>
                </li>
                <li class="list-group-item">
                    Descrición de Plan: <strong class="pull-right">@licencia.Plan.Descripcion</strong>
                </li>
                <li class="list-group-item">
                    Fecha Expiración: <strong class="pull-right">@licencia.FechaFinal.Value.ToShortDateString()</strong>
                </li>
                <li class="list-group-item">
                    ¿Es Prueba?: <strong class="pull-right">@(licencia.IsPrueba == true ? "Si" : "No")</strong>
                </li>
                <li class="list-group-item">
                    Número de Alumnos Contratados: <strong class="pull-right">@licencia.NumAlumnos</strong>
                </li>
                <li class="list-group-item">
                    Costo por alumno: <strong class="pull-right">$ @licencia.Plan.Costo.ToString("0.00")</strong>
                </li>
                <li class="list-group-item">
                    Total a Pagar: <strong class="pull-right">$ @licencia.OrdenCompras.FirstOrDefault().Total.ToString("0.00")</strong>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <span class="fa fa-user"></span> Datos del Director
            </h4>
        </div>
        <div class="panel-body">
            @if(director != null)
            {
            <ul class="list-group">
                <li class="list-group-item">
                    Nombre: <strong class="pull-right">@director.aspnet_Users.UserExtra.Name @director.aspnet_Users.UserExtra.LastNameP @director.aspnet_Users.UserExtra.LastNameM</strong>
                </li>
                <li class="list-group-item">
                    Usuario: <strong class="pull-right">@director.aspnet_Users.UserName</strong>
                </li>
                <li class="list-group-item">
                    Contraseña: <strong class="pull-right">@director.aspnet_Users.UserExtra.Password</strong>
                </li>
            </ul>
            }
            else
            {
            <div class="alert alert-info alert-dismissable">
                <strong>¡No se ha registrado al director! </strong>
            </div>
            }
        </div>
    </div>
</div>

<input type="button" onclick="printDiv('area')" value="Imprimir" class="btn btn-info" />

<a type="button" href="@Url.Action("OrdenesRealizadas","Distribuidor")" class="btn btn-primary"> Ver ordenes realizadas</a>

<a type="button" href="@Url.Action("Escuela","Distribuidor")" class="btn btn-primary"> Ver escuelas</a>

<script>
    function printDiv(nombreDiv) {
        var contenido = document.getElementById(nombreDiv).innerHTML;
        var contenidoOriginal = document.body.innerHTML;

        document.body.innerHTML = contenido;

        window.print();

        document.body.innerHTML = contenidoOriginal;
    }
</script>