﻿@{
    ViewBag.Title = "PagoTarjeta";
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Orden de compra de la escuela: @ViewBag.NombreEscuela</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-info alert-dismissable">
            <strong> No guardamos ningún dato de tus tarjetas por motivos de seguridad. </strong>
        </div>
        @using (Html.BeginForm("PagoTarjeta", "Distribuidor", FormMethod.Post, new { rol = "form", @id = "card-form" }))
        { 
            <span class="card-errors"></span>
            <div class="row">
                <div class="col-md-6">
                    <span>Nombre del tarjetahabiente</span>
                    <input type="text" size="20" data-conekta="card[name]" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span>Número de tarjeta de crédito</span>
                    <input type="text" size="20" data-conekta="card[number]" class="form-control">
                </div>
                <div class="col-md-4">
                    <span>CVC</span>
                    <input type="text" size="4" data-conekta="card[cvc]" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <span>Fecha de expiración (MM/AAAA)</span>
                    <br />
                    <input type="text" size="2" data-conekta="card[exp_month]">
                    
                    <span>/</span>
                    
                    <input type="text" size="4" data-conekta="card[exp_year]">
                    
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-success">Pagar</button>
                </div>
                
            </div>


        }
    </div>
</div>
     

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>

<script>
	//Set your Conekta public key.
    Conekta.setPublishableKey('key_AqzYwrykz5tbSrVKNhczQMw');
	$(function () {
	  $("#card-form").submit(function(event) {
	    var $form = $(this);
		//Prevents multiple tokens.
	    $form.find("button").prop("disabled", true);
		//Send the card info to Conekta.
	    Conekta.token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
	    return false;
	  });
	});
	//If the token is success, create an input with the value.
	var conektaSuccessResponseHandler = function(token) {
	  var $form = $("#card-form");
	  $form.append($("<input type='' name='conektaTokenId'id='conektaTokenId'>").val(token.id));
      debugger;
	  $form.get(0).submit();
	};
	//If the token have an error, display it to the customer.
	var conektaErrorResponseHandler = function(response) {
	  var $form = $("#card-form");
	  $form.find(".card-errors").text(response.message_to_purchaser);
	  $form.find("button").prop("disabled", false);
	};
</script>