﻿@model PagedList.IPagedList<DistribucionSofia.Models.ViewModels.ViewModel_d_ReporteEstadistico_Escuela>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Estadísticas de escuelas";
    Layout = "~/Views/Shared/_LayoutDistribuidor.cshtml";

    IEnumerable<SelectListItem> Months = System.Globalization.DateTimeFormatInfo
        .CurrentInfo
        .MonthNames
        .Where(x => !string.IsNullOrEmpty(x))
        .Select((monthName, index) => new SelectListItem
        {
            Value = (index + 1).ToString(),
            Text = monthName
        });
    var Days = new List<SelectListItem>();
    for (var i = 1; i <= 31; i++)
    {
        Days.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString() });
    }
    var Ano = new List<SelectListItem>();
    for (var i = DateTime.Today.Year; i >= DateTime.Today.Year - 3; i--)
    {
        Ano.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString() });
    }

   

}

@using (Html.BeginForm("ReporteEscuelas", "Distribuidor", FormMethod.Get))
{
    <div class="main full-box">
        <div class="page_title">
            <h3 class="replace">Filtros de búsqueda de escuelas</h3>
        </div>
        <br />
        <div class="full-box-item">
            <div class="form">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.Label("Nombre", "Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBox("Nombre", null, new { @class = "form-control", placeholder = "Filtrar por nombre", })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("CCT", "CCT", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBox("CCT", null, new { @class = "form-control", placeholder = "Filtrar por cct", })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Ciudad", "Ciudad", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBox("Ciudad", null, new { @class = "form-control", placeholder = "Filtrar por ciudad", })
                                    
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Fecha inicio", "Fecha Inicio", htmlAttributes: new { @class = "control-label col-md-2" })

                                <div class="col-md-10">
                                    <div class="col-sm-4 no-padding">
                                        @Html.DropDownList("DiaI", Days, "Día", new { @class = "form-control dp no-right-radius-border" })
                                    </div>
                                    <div class="col-sm-4 no-padding">
                                        @Html.DropDownList("MesI", Months, "Mes", new { @class = "form-control dp no-radius-border" })
                                    </div>
                                    <div class="col-sm-4 no-padding">
                                        @Html.DropDownList("AnioI", Ano, "Año", new { @class = "form-control dp no-left-radius-border" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Fechafinal", "Fecha Final", htmlAttributes: new { @class = "control-label col-md-2" })

                                <div class="col-md-10">
                                    <div class="col-sm-4 no-padding">
                                        @Html.DropDownList("DiaF", Days, "Día", new { @class = "form-control dp no-right-radius-border" })
                                    </div>
                                    <div class="col-sm-4 no-padding">
                                        @Html.DropDownList("MesF", Months, "Mes", new { @class = "form-control dp no-radius-border" })
                                    </div>
                                    <div class="col-sm-4 no-padding">
                                        @Html.DropDownList("AnioF", Ano, "Año", new { @class = "form-control dp no-left-radius-border" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("NivelEscolar", "Nivel Escolar", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("NivelEscolar", null, "Filtrar por escolaridad", new { @class = "form-control " })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="">
                                <input type="submit" value="Filtrar" class="btn btn-primary" />
                                <a href="@Url.Action("ReporteEscuelas", "Distribuidor", new {
                                    Dependencia = ViewBag.DependenciaFilter,
                                    Meses = ViewBag.MesesFilter,
                                    Nombre = ViewBag.NombreFilter,
                                    Clave = ViewBag.CCTFilter,
                                    Ciudad = ViewBag.CiudadFilter,
                                    DiaI = ViewBag.DiaIFilter,
                                    MesI = ViewBag.MesIFilter,
                                    AnioI = ViewBag.AnioIFilter,
                                    DiaF = ViewBag.DiaFFilter,
                                    MesF = ViewBag.MesFFilter,
                                    AnioF = ViewBag.AnioFFilter,
                                    NivelEscolar = ViewBag.NivelEscolarFilter,
                                    Excel = 1
                                    })"
                                   class="btn btn-success"><i class="fa fa-file-excel-o"></i>Exportar resultados</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Html.Hidden("Meses", 0)
<div class="clearfix"></div>
@if (Model == null)
{
    <div class="alert-error">Hubo un error, favor de recargar la página o hacer <a href="@Url.Action("ReporteEscuelas", "Distribuidor")">clic aquí</a>.</div>
}
else
{
    <div class="main full-box">
        <div class="page_title">
            <h3 class="replace">Escuelas </h3>
            @*<h4>Interpretación: <span class="badge badge-danger">Mal</span> - <span class="badge badge-warning">Bajo</span> - <span class="badge badge-success">Bien</span></h4>*@
        </div>
        <div class="table-responsive">
            <table class="table table-stripped table-hover" id="table_Reporteuso">
                <thead>
                    <tr>
                        <th>
                            Opciones
                        </th>
                        <th>
                            Fecha Inicio
                        </th>
                        <th>
                            Fecha Final
                        </th>
                        <th>
                            Ciudad
                        </th>
                        <th>
                            CCT
                        </th>
                        <th>
                            Escuela
                        </th>
                        <th>
                            Actividades Asignadas
                        </th>
                        <th>
                            Total E.Actividades
                        </th>
                        <th>
                            Total E.Libres
                        </th>
                        <th>
                            Total E.Otros
                        </th>
                        <th>
                            Total Ejercicios
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("ImprimirEscuela", "Distribuidor", new {
                                    CCT = item.CCT,
                                    DiaI = ViewBag.DiaIFilter,
                                    MesI = ViewBag.MesIFilter,
                                    AnioI = ViewBag.AnioIFilter,
                                    DiaF = ViewBag.DiaFFilter,
                                    MesF = ViewBag.MesFFilter,
                                    AnioF = ViewBag.AnioFFilter,
                                    Tipo = ViewBag.TAM
                                    })"
                                   class="btn btn-success"><i class="fa fa-file-excel-o"></i>Imprimir Escuela</a>
                            </td>
                            <td>
                                @item.FechaInicio.ToShortDateString()
                            </td>
                            <td>
                                @item.FechaFinal.ToShortDateString()
                            </td>
                            <td>
                                @item.Ciudad
                            </td>
                            <td>
                                @item.CCT
                            </td>
                            <td>
                                @item.NombreEscuela
                            </td>
                            <td>
                                @item.Actividades_Asignadas
                            </td>
                            <td>
                                @item.EjerciciosActividades
                            </td>
                            <td>
                                @item.EjerciciosLibres
                            </td>
                            <td>
                                @item.EjerciciosOtros
                            </td>
                            <td>
                                @item.TotalEjercicios
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


        <div class="col-xs-12">
            Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("ReporteEscuelas",
        new
        {
            page,
            Dependencia = ViewBag.DependenciaFilter,
            Meses = ViewBag.MesesFilter,
            Nombre = ViewBag.NombreFilter,
            Clave = ViewBag.CCTFilter,
            Ciudad = ViewBag.CiudadFilter,
            DiaI = ViewBag.DiaIFilter,
            MesI = ViewBag.MesIFilter,
            AnioI = ViewBag.AnioIFilter,
            DiaF = ViewBag.DiaFFilter,
            MesF = ViewBag.MesFFilter,
            AnioF = ViewBag.AnioFFilter,
            NivelEscolar = ViewBag.NivelEscolarFilter
        }
        ))

        </div>
    </div>
}

