﻿@model IEnumerable<DistribucionSofia.Models.OrdenCompra>
@{
    Layout = "~/Views/Shared/_LayoutLicencia.cshtml";
    ViewBag.Title = "Ordenes aprobadas";

    var ventas = Model.Where(x => x.Estatus == 1 && !x.OrdenCompraProductoes.FirstOrDefault().Unidad.Contains("Prueba")).ToList();
    var prueba = Model.Where(x => x.Estatus == 1 && x.OrdenCompraProductoes.FirstOrDefault().Unidad.Contains("Prueba")).ToList();
}
<div class="page_title">
    <h3 class="replace">Últimas ordenes aprobadas</h3>
</div>
<div class="main full-box">
    <ul class="nav nav-tabs tabs-aprobada" id="tab-aprobadds" role="tablist">
        <li class="active">
            <a class="active tab" href="#Ventas" data-tab="Ventas" data-toggle="tab" data-tg="#div_Ventas">
                <span class="icon fa fa-th-large fa-lg"></span>
                <span class="tab-text">Ventas</span>
            </a>
        </li>
        <li class="">
            <a class=" tab" href="#Prueba" data-tab="Prueba" data-toggle="tab" data-tg="#div_Prueba">
                <span class="icon fa fa-chain fa-lg"></span>
                <span class="tab-text">Prueba</span>
            </a>
        </li>
    </ul>
    <div class="tab-content full-box-item">
        <!----------------Ventas----------------->
        <div role="tabpanel" class="tab-pane fade in active" id="Ventas">
            <div id="div_Ventas">
                <div class="main full-box well">
                    <ul class="nav nav-tabs tabs-venta" id="tab-ventasdds" role="tablist">
                        <li class="active">
                            <a class="active tab" href="#EsteMes" data-tab="EsteMes" data-toggle="tab" data-tg="#div_EsteMes">
                                <span class="icon fa fa-calendar fa-lg"></span>
                                <span class="tab-text">Este mes</span>
                            </a>
                        </li>
                        <li class="">
                            <a class=" tab" href="#1Mes" data-tab="1Mes" data-toggle="tab" data-tg="#div_1Mes">
                                <span class="icon fa fa-calendar fa-lg"></span>
                                <span class="tab-text">Hace 1 mes</span>
                            </a>
                        </li>
                        <li class="">
                            <a class=" tab" href="#2Mes" data-tab="2Mes" data-toggle="tab" data-tg="#div_2Mes">
                                <span class="icon fa fa-calendar fa-lg"></span>
                                <span class="tab-text">Hace 2 meses</span>
                            </a>
                        </li>
                        <li class="">
                            <a class=" tab" href="#3Mes" data-tab="3Mes" data-toggle="tab" data-tg="#div_3Mes">
                                <span class="icon fa fa-calendar fa-lg"></span>
                                <span class="tab-text">Hace 3 meses</span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content full-box-item">
                        <!----------------Este mes----------------->
                        <div role="tabpanel" class="tab-pane fade in active" id="EsteMes">
                            <div id="div_EsteMes">
                                <div class="table-responsive dragscroll">
                                    <table id="table_group" class="table table-striped table-hover table-fixed">
                                        <thead>
                                            <tr class="nowrap">
                                                <th>
                                                    Escuela
                                                </th>
                                                <th>
                                                    Estado/Ciudad
                                                </th>
                                                <th>
                                                    Distribuidor
                                                </th>
                                                <th>
                                                    Producto(s)
                                                </th>
                                                <th>
                                                    Fecha registro
                                                </th>
                                                <th>
                                                    Total
                                                </th>
                                                <th>
                                                    Facturado
                                                </th>
                                                <th>
                                                    Estatus
                                                </th>
                                                <th>
                                                    Importe Pagado
                                                </th>
                                                <th>
                                                    Acciones
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var a in ventas.Where(x => x.FechaRegistro <= DateTime.UtcNow && x.FechaRegistro >= DateTime.UtcNow.AddMonths(-1)))
                                            {
                                            <tr class="nowrap">
                                                <td>
                                                    @a.School.Name
                                                </td>
                                                <td>
                                                    @a.School.Estado.Nombre / @a.School.City
                                                </td>
                                                <td>
                                                   
                                                    @a.Distribuidor1.aspnet_Users.UserExtra.Name @a.Distribuidor1.aspnet_Users.UserExtra.LastNameP
                                                </td>
                                                <td>
                                                    @foreach (var pro in a.OrdenCompraProductoes)
                                                    {
                                                    <span> @pro.Cantidad @pro.Unidad @pro.Concepto </span><br />
                                                    }
                                                </td>
                                                <td>
                                                    @a.FechaRegistro.ToShortDateString()
                                                </td>
                                                <td>
                                                    $@a.Total.ToString("0.00")
                                                </td>
                                                <td>
                                                    @(a.ReqFactura == true ? (a.Facturado == true ? "Facturado" : "Sin Facturar") : "No solicito factura")
                                                </td>
                                                <td>
                                                    @((DistribucionSofia.Models.Enum.EnumOrden)a.Estatus)

                                                </td>
                                                <td>
                                                    $@a.TotalPagado.ToString("0.00")
                                                </td>
                                                <td>
                                                    <a type="button" href="#" class="btn btn-info btn-sm aprobar" data-toggle="modal" data-target="#DetalleCompra" data-idorden="@a.Id"><span class="fa fa-bars"></span> Pago/Aprobar</a>

                                                    <a type="button" href="#" class="btn btn-danger btn-sm cancelar" data-idorden="@a.Id"><span class="fa fa-times"></span> Cancelar</a>

                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!---------------Hace 1 mes---------------->
                        <div role="tabpanel" class="tab-pane fade in " id="1Mes">
                            <div id="div_1Mes">
                                <div class="table-responsive dragscroll">
                                    <table id="table_group" class="table table-striped table-hover table-fixed">
                                        <thead>
                                            <tr class="nowrap">
                                                <th>
                                                    Escuela
                                                </th>
                                                <th>
                                                    Estado/Ciudad
                                                </th>
                                                <th>
                                                    Distribuidor
                                                </th>
                                                <th>
                                                    Producto(s)
                                                </th>
                                                <th>
                                                    Fecha registro
                                                </th>
                                                <th>
                                                    Total
                                                </th>
                                                <th>
                                                    Facturado
                                                </th>
                                                <th>
                                                    Estatus
                                                </th>
                                                <th>
                                                    Importe Pagado
                                                </th>
                                                <th>
                                                    Acciones
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var a in ventas.Where(x => x.FechaRegistro <= DateTime.UtcNow.AddMonths(-1) && x.FechaRegistro >= DateTime.UtcNow.AddMonths(-2)))
                                            {
                                            <tr class="nowrap">
                                                <td>
                                                    @a.School.Name
                                                </td>
                                                <td>
                                                    @a.School.Estado.Nombre / @a.School.City
                                                </td>
                                                <td>
                                                    @a.Distribuidor1.aspnet_Users.UserExtra.Name @a.Distribuidor1.aspnet_Users.UserExtra.LastNameP
                                                </td>
                                                <td>
                                                    @foreach (var pro in a.OrdenCompraProductoes)
                                                    {
                                                    <span> @pro.Cantidad @pro.Unidad @pro.Concepto </span><br />
                                                    }
                                                </td>
                                                <td>
                                                    @a.FechaRegistro.ToShortDateString()
                                                </td>
                                                <td>
                                                    $@a.Total.ToString("0.00")
                                                </td>
                                                <td>
                                                    @(a.ReqFactura == true ? (a.Facturado == true ? "Facturado" : "Sin Facturar") : "No solicito factura")
                                                </td>
                                                <td>
                                                    @((DistribucionSofia.Models.Enum.EnumOrden)a.Estatus)

                                                </td>
                                                <td>
                                                    $@a.TotalPagado.ToString("0.00")
                                                </td>
                                                <td>
                                                    <a type="button" href="#" class="btn btn-info btn-sm aprobar" data-toggle="modal" data-target="#DetalleCompra" data-idorden="@a.Id"><span class="fa fa-bars"></span> Pago/Aprobar</a>

                                                    <a type="button" href="#" class="btn btn-danger btn-sm cancelar" data-idorden="@a.Id"><span class="fa fa-times"></span> Cancelar</a>

                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--------------Hace 2 meses--------------->
                        <div role="tabpanel" class="tab-pane fade in " id="2Mes">
                            <div id="div_2Mes">
                                <div class="table-responsive dragscroll">
                                    <table id="table_group" class="table table-striped table-hover table-fixed">
                                        <thead>
                                            <tr class="nowrap">
                                                <th>
                                                    Escuela
                                                </th>
                                                <th>
                                                    Estado/Ciudad
                                                </th>
                                                <th>
                                                    Distribuidor
                                                </th>
                                                <th>
                                                    Producto(s)
                                                </th>
                                                <th>
                                                    Fecha registro
                                                </th>
                                                <th>
                                                    Total
                                                </th>
                                                <th>
                                                    Facturado
                                                </th>
                                                <th>
                                                    Estatus
                                                </th>
                                                <th>
                                                    Importe Pagado
                                                </th>
                                                <th>
                                                    Acciones
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var a in ventas.Where(x => x.FechaRegistro <= DateTime.UtcNow.AddMonths(-2) && x.FechaRegistro >= DateTime.UtcNow.AddMonths(-3)))
                                            {
                                            <tr class="nowrap">
                                                <td>
                                                    @a.School.Name
                                                </td>
                                                <td>
                                                    @a.School.Estado.Nombre / @a.School.City
                                                </td>
                                                <td>
                                                    @a.Distribuidor1.aspnet_Users.UserExtra.Name @a.Distribuidor1.aspnet_Users.UserExtra.LastNameP
                                                </td>
                                                <td>
                                                    @foreach (var pro in a.OrdenCompraProductoes)
                                                    {
                                                    <span> @pro.Cantidad @pro.Unidad @pro.Concepto </span><br />
                                                    }
                                                </td>
                                                <td>
                                                    @a.FechaRegistro.ToShortDateString()
                                                </td>
                                                <td>
                                                    $@a.Total.ToString("0.00")
                                                </td>
                                                <td>
                                                    @(a.ReqFactura == true ? (a.Facturado == true ? "Facturado" : "Sin Facturar") : "No solicito factura")
                                                </td>
                                                <td>
                                                    @((DistribucionSofia.Models.Enum.EnumOrden)a.Estatus)

                                                </td>
                                                <td>
                                                    $@a.TotalPagado.ToString("0.00")
                                                </td>
                                                <td>
                                                    <a type="button" href="#" class="btn btn-info btn-sm aprobar" data-toggle="modal" data-target="#DetalleCompra" data-idorden="@a.Id"><span class="fa fa-bars"></span> Pago/Aprobar</a>

                                                    <a type="button" href="#" class="btn btn-danger btn-sm cancelar" data-idorden="@a.Id"><span class="fa fa-times"></span> Cancelar</a>

                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!----------------Mas de 3----------------->
                        <div role="tabpanel" class="tab-pane fade in " id="3Mes">
                            <div id="div_3Mes">
                                <div class="table-responsive dragscroll">
                                    <table id="table_group" class="table table-striped table-hover table-fixed">
                                        <thead>
                                            <tr class="nowrap">
                                                <th>
                                                    Escuela
                                                </th>
                                                <th>
                                                    Estado/Ciudad
                                                </th>
                                                <th>
                                                    Distribuidor
                                                </th>
                                                <th>
                                                    Producto(s)
                                                </th>
                                                <th>
                                                    Fecha registro
                                                </th>
                                                <th>
                                                    Total
                                                </th>
                                                <th>
                                                    Facturado
                                                </th>
                                                <th>
                                                    Estatus
                                                </th>
                                                <th>
                                                    Importe Pagado
                                                </th>
                                                <th>
                                                    Acciones
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var a in ventas.Where(x => x.FechaRegistro <= DateTime.UtcNow.AddMonths(-3) && x.FechaRegistro >= DateTime.UtcNow.AddMonths(-4)))
                                            {
                                            <tr class="nowrap">
                                                <td>
                                                    @a.School.Name
                                                </td>
                                                <td>
                                                    @a.School.Estado.Nombre / @a.School.City
                                                </td>
                                                <td>
                                                    @a.Distribuidor1.aspnet_Users.UserExtra.Name @a.Distribuidor1.aspnet_Users.UserExtra.LastNameP
                                                </td>
                                                <td>
                                                    @foreach (var pro in a.OrdenCompraProductoes)
                                                    {
                                                    <span> @pro.Cantidad @pro.Unidad @pro.Concepto </span><br />
                                                    }
                                                </td>
                                                <td>
                                                    @a.FechaRegistro.ToShortDateString()
                                                </td>
                                                <td>
                                                    $@a.Total.ToString("0.00")
                                                </td>
                                                <td>
                                                    @(a.ReqFactura == true ? (a.Facturado == true ? "Facturado" : "Sin Facturar") : "No solicito factura")
                                                </td>
                                                <td>
                                                    @((DistribucionSofia.Models.Enum.EnumOrden)a.Estatus)

                                                </td>
                                                <td>
                                                    $@a.TotalPagado.ToString("0.00")
                                                </td>
                                                <td>
                                                    <a type="button" href="#" class="btn btn-info btn-sm aprobar" data-toggle="modal" data-target="#DetalleCompra" data-idorden="@a.Id"><span class="fa fa-bars"></span> Pago/Aprobar</a>

                                                    <a type="button" href="#" class="btn btn-danger btn-sm cancelar" data-idorden="@a.Id"><span class="fa fa-times"></span> Cancelar</a>

                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!----------------Pruebas----------------->
        <div role="tabpanel" class="tab-pane fade in " id="Prueba">
            <div id="div_Prueba">
                <div class="main full-box well">
                    <ul class="nav nav-tabs tabs-venta" id="tab-ventasdds" role="tablist">
                        <li class="active">
                            <a class="active tab" href="#EsteMesP" data-tab="EsteMesP" data-toggle="tab" data-tg="#div_EsteMesP">
                                <span class="icon fa fa-calendar fa-lg"></span>
                                <span class="tab-text">Este mes</span>
                            </a>
                        </li>
                        <li class="">
                            <a class=" tab" href="#1MesP" data-tab="EsteMesP" data-toggle="tab" data-tg="#div_1MesP">
                                <span class="icon fa fa-calendar fa-lg"></span>
                                <span class="tab-text">Hace 1 mes</span>
                            </a>
                        </li>
                        <li class="">
                            <a class=" tab" href="#2MesP" data-tab="EsteMesP" data-toggle="tab" data-tg="#div_2MesP">
                                <span class="icon fa fa-calendar fa-lg"></span>
                                <span class="tab-text">Hace 2 meses</span>
                            </a>
                        </li>
                        <li class="">
                            <a class=" tab" href="#3MesP" data-tab="EsteMesP" data-toggle="tab" data-tg="#div_3MesP">
                                <span class="icon fa fa-calendar fa-lg"></span>
                                <span class="tab-text">Hace 3 meses</span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content full-box-item">
                        <!----------------Este mes----------------->
                        <div role="tabpanel" class="tab-pane fade in active" id="EsteMesP">
                            <div id="div_EsteMesP">
                                <div class="table-responsive dragscroll">
                                    <table id="table_group" class="table table-striped table-hover table-fixed">
                                        <thead>
                                            <tr class="nowrap">
                                                <th>
                                                    Escuela
                                                </th>
                                                <th>
                                                    Estado/Ciudad
                                                </th>
                                                <th>
                                                    Distribuidor
                                                </th>
                                                <th>
                                                    Producto(s)
                                                </th>
                                                <th>
                                                    Fecha registro
                                                </th>
                                                <th>
                                                    Total
                                                </th>
                                                <th>
                                                    Facturado
                                                </th>
                                                <th>
                                                    Estatus
                                                </th>
                                                <th>
                                                    Importe Pagado
                                                </th>
                                                <th>
                                                    Acciones
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var a in prueba.Where(x => x.FechaRegistro <= DateTime.UtcNow && x.FechaRegistro >= DateTime.UtcNow.AddMonths(-1)))
                                            {
                                            <tr class="nowrap">
                                                <td>
                                                    @a.School.Name
                                                </td>
                                                <td>
                                                    @a.School.Estado.Nombre / @a.School.City
                                                </td>
                                                <td>
                                                    @a.Distribuidor1.aspnet_Users.UserExtra.Name @a.Distribuidor1.aspnet_Users.UserExtra.LastNameP
                                                </td>
                                                <td>
                                                    @foreach (var pro in a.OrdenCompraProductoes)
                                                    {
                                                    <span> @pro.Cantidad @pro.Unidad @pro.Concepto </span><br />
                                                    }
                                                </td>
                                                <td>
                                                    @a.FechaRegistro.ToShortDateString()
                                                </td>
                                                <td>
                                                    $@a.Total.ToString("0.00")
                                                </td>
                                                <td>
                                                    @(a.ReqFactura == true ? (a.Facturado == true ? "Facturado" : "Sin Facturar") : "No solicito factura")
                                                </td>
                                                <td>
                                                    @((DistribucionSofia.Models.Enum.EnumOrden)a.Estatus)

                                                </td>
                                                <td>
                                                    $@a.TotalPagado.ToString("0.00")
                                                </td>
                                                <td>
                                                    <a type="button" href="#" class="btn btn-info btn-sm aprobar" data-toggle="modal" data-target="#DetalleCompra" data-idorden="@a.Id"><span class="fa fa-bars"></span> Pago/Aprobar</a>

                                                    <a type="button" href="#" class="btn btn-danger btn-sm cancelar" data-idorden="@a.Id"><span class="fa fa-times"></span> Cancelar</a>

                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!---------------Hace 1 mes---------------->
                        <div role="tabpanel" class="tab-pane fade in " id="1MesP">
                            <div id="div_1MesP">
                                <div class="table-responsive dragscroll">
                                    <table id="table_group" class="table table-striped table-hover table-fixed">
                                        <thead>
                                            <tr class="nowrap">
                                                <th>
                                                    Escuela
                                                </th>
                                                <th>
                                                    Estado/Ciudad
                                                </th>
                                                <th>
                                                    Distribuidor
                                                </th>
                                                <th>
                                                    Producto(s)
                                                </th>
                                                <th>
                                                    Fecha registro
                                                </th>
                                                <th>
                                                    Total
                                                </th>
                                                <th>
                                                    Facturado
                                                </th>
                                                <th>
                                                    Estatus
                                                </th>
                                                <th>
                                                    Importe Pagado
                                                </th>
                                                <th>
                                                    Acciones
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var a in prueba.Where(x => x.FechaRegistro <= DateTime.UtcNow.AddMonths(-1) && x.FechaRegistro >= DateTime.UtcNow.AddMonths(-2)))
                                            {
                                            <tr class="nowrap">
                                                <td>
                                                    @a.School.Name
                                                </td>
                                                <td>
                                                    @a.School.Estado.Nombre / @a.School.City
                                                </td>
                                                <td>
                                                    @a.Distribuidor1.aspnet_Users.UserExtra.Name @a.Distribuidor1.aspnet_Users.UserExtra.LastNameP
                                                </td>
                                                <td>
                                                    @foreach (var pro in a.OrdenCompraProductoes)
                                                    {
                                                    <span> @pro.Cantidad @pro.Unidad @pro.Concepto </span><br />
                                                    }
                                                </td>
                                                <td>
                                                    @a.FechaRegistro.ToShortDateString()
                                                </td>
                                                <td>
                                                    $@a.Total.ToString("0.00")
                                                </td>
                                                <td>
                                                    @(a.ReqFactura == true ? (a.Facturado == true ? "Facturado" : "Sin Facturar") : "No solicito factura")
                                                </td>
                                                <td>
                                                    @((DistribucionSofia.Models.Enum.EnumOrden)a.Estatus)

                                                </td>
                                                <td>
                                                    $@a.TotalPagado.ToString("0.00")
                                                </td>
                                                <td>
                                                    <a type="button" href="#" class="btn btn-info btn-sm aprobar" data-toggle="modal" data-target="#DetalleCompra" data-idorden="@a.Id"><span class="fa fa-bars"></span> Pago/Aprobar</a>

                                                    <a type="button" href="#" class="btn btn-danger btn-sm cancelar" data-idorden="@a.Id"><span class="fa fa-times"></span> Cancelar</a>

                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--------------Hace 2 meses--------------->
                        <div role="tabpanel" class="tab-pane fade in " id="2MesP">
                            <div id="div_2MesP">
                                <div class="table-responsive dragscroll">
                                    <table id="table_group" class="table table-striped table-hover table-fixed">
                                        <thead>
                                            <tr class="nowrap">
                                                <th>
                                                    Escuela
                                                </th>
                                                <th>
                                                    Estado/Ciudad
                                                </th>
                                                <th>
                                                    Distribuidor
                                                </th>
                                                <th>
                                                    Producto(s)
                                                </th>
                                                <th>
                                                    Fecha registro
                                                </th>
                                                <th>
                                                    Total
                                                </th>
                                                <th>
                                                    Facturado
                                                </th>
                                                <th>
                                                    Estatus
                                                </th>
                                                <th>
                                                    Importe Pagado
                                                </th>
                                                <th>
                                                    Acciones
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var a in prueba.Where(x => x.FechaRegistro <= DateTime.UtcNow.AddMonths(-2) && x.FechaRegistro >= DateTime.UtcNow.AddMonths(-3)))
                                            {
                                            <tr class="nowrap">
                                                <td>
                                                    @a.School.Name
                                                </td>
                                                <td>
                                                    @a.School.Estado.Nombre / @a.School.City
                                                </td>
                                                <td>
                                                    @a.Distribuidor1.aspnet_Users.UserExtra.Name @a.Distribuidor1.aspnet_Users.UserExtra.LastNameP
                                                </td>
                                                <td>
                                                    @foreach (var pro in a.OrdenCompraProductoes)
                                                    {
                                                    <span> @pro.Cantidad @pro.Unidad @pro.Concepto </span><br />
                                                    }
                                                </td>
                                                <td>
                                                    @a.FechaRegistro.ToShortDateString()
                                                </td>
                                                <td>
                                                    $@a.Total.ToString("0.00")
                                                </td>
                                                <td>
                                                    @(a.ReqFactura == true ? (a.Facturado == true ? "Facturado" : "Sin Facturar") : "No solicito factura")
                                                </td>
                                                <td>
                                                    @((DistribucionSofia.Models.Enum.EnumOrden)a.Estatus)

                                                </td>
                                                <td>
                                                    $@a.TotalPagado.ToString("0.00")
                                                </td>
                                                <td>
                                                    <a type="button" href="#" class="btn btn-info btn-sm aprobar" data-toggle="modal" data-target="#DetalleCompra" data-idorden="@a.Id"><span class="fa fa-bars"></span> Pago/Aprobar</a>

                                                    <a type="button" href="#" class="btn btn-danger btn-sm cancelar" data-idorden="@a.Id"><span class="fa fa-times"></span> Cancelar</a>

                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!----------------Mas de 3----------------->
                        <div role="tabpanel" class="tab-pane fade in " id="3MesP">
                            <div id="div_3MesP">
                                <div class="table-responsive dragscroll">
                                    <table id="table_group" class="table table-striped table-hover table-fixed">
                                        <thead>
                                            <tr class="nowrap">
                                                <th>
                                                    Escuela
                                                </th>
                                                <th>
                                                    Estado/Ciudad
                                                </th>
                                                <th>
                                                    Distribuidor
                                                </th>
                                                <th>
                                                    Producto(s)
                                                </th>
                                                <th>
                                                    Fecha registro
                                                </th>
                                                <th>
                                                    Total
                                                </th>
                                                <th>
                                                    Facturado
                                                </th>
                                                <th>
                                                    Estatus
                                                </th>
                                                <th>
                                                    Importe Pagado
                                                </th>
                                                <th>
                                                    Acciones
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var a in prueba.Where(x => x.FechaRegistro <= DateTime.UtcNow.AddMonths(-3) && x.FechaRegistro >= DateTime.UtcNow.AddMonths(-4)))
                                            {
                                            <tr class="nowrap">
                                                <td>
                                                    @a.School.Name
                                                </td>
                                                <td>
                                                    @a.School.Estado.Nombre / @a.School.City
                                                </td>
                                                <td>
                                                    @a.Distribuidor1.aspnet_Users.UserExtra.Name @a.Distribuidor1.aspnet_Users.UserExtra.LastNameP
                                                </td>
                                                <td>
                                                    @foreach (var pro in a.OrdenCompraProductoes)
                                                    {
                                                    <span> @pro.Cantidad @pro.Unidad @pro.Concepto </span><br />
                                                    }
                                                </td>
                                                <td>
                                                    @a.FechaRegistro.ToShortDateString()
                                                </td>
                                                <td>
                                                    $@a.Total.ToString("0.00")
                                                </td>
                                                <td>
                                                    @(a.ReqFactura == true ? (a.Facturado == true ? "Facturado" : "Sin Facturar") : "No solicito factura")
                                                </td>
                                                <td>
                                                    @((DistribucionSofia.Models.Enum.EnumOrden)a.Estatus)

                                                </td>
                                                <td>
                                                    $@a.TotalPagado.ToString("0.00")
                                                </td>
                                                <td>
                                                    <a type="button" href="#" class="btn btn-info btn-sm aprobar" data-toggle="modal" data-target="#DetalleCompra" data-idorden="@a.Id"><span class="fa fa-bars"></span> Pago/Aprobar</a>

                                                    <a type="button" href="#" class="btn btn-danger btn-sm cancelar" data-idorden="@a.Id"><span class="fa fa-times"></span> Cancelar</a>

                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
