﻿@{
    ViewBag.Title = "Auditoria Licencias";

    Layout = "~/Views/Shared/_LayoutLicencia.cshtml";

    var distribuidor = ViewBag.Distribuidores as IEnumerable<DistribucionSofia.Models.Distribuidor>;

    List<SelectListItem> selectListDistribuidor = new List<SelectListItem>();
    foreach (var item in distribuidor)
    {
        selectListDistribuidor.Add(new SelectListItem() { Text = "" + item.aspnet_Users.UserExtra.Name + " " + item.aspnet_Users.UserExtra.LastNameP, Value = "" + item.Id });
    }
}

<div class="page_title">
    <h3 class="replace">Auditoria de Licencias</h3>
</div>
<div class="main full-box">
    <ul class="nav nav-tabs tabs-lic" id="tab-lic" role="tablist">
        <li class="active">
            <a class="active tab" href="#Escuelas" data-tab="Escuelas" data-toggle="tab" data-tg="#div_Escuelas">
                <span class="icon fa fa-building fa-lg"></span>
                <span class="tab-text">Por Escuela</span>
            </a>
        </li>
        <li class="">
            <a class=" tab" href="#Distribuidor" data-tab="Distribuidor" data-toggle="tab" data-tg="#div_Distribuidor">
                <span class="icon fa fa-user fa-lg"></span>
                <span class="tab-text">Por Distribuidor</span>
            </a>
        </li>
        <li class="">
            <a class=" tab" href="#Estado" data-tab="Estado" data-toggle="tab" data-tg="#div_Estado">
                <span class="icon fa fa-user fa-lg"></span>
                <span class="tab-text">Por Estado</span>
            </a>
        </li>
    </ul>
    <div class="tab-content full-box-item">
        <!--Escuelas-->
        <div role="tabpanel" class="tab-pane fade in active" id="Escuelas">
            <div id="div_Escuelas">

            </div>
        </div>
        <!--Distribuidor-->
        <div role="tabpanel" class="tab-pane fade in " id="Distribuidor">
            <div id="div_Distribuidor">

            </div>
        </div>
        <!--Estado-->
        <div role="tabpanel" class="tab-pane fade in " id="Estado">
            <div id="div_Estado">

            </div>
        </div>
    </div>
</div>