﻿@{ 
    ViewBag.Title = "Maestros Excel";

    Layout = "~/Views/Shared/_LayoutLicencia.cshtml";


}

<div class="well">

    <div class="row">
        <div style="position: relative;">
            <a class='btn btn-primary btn-block' href='javascript:;'>
                <form id="data">
                    <span class="fa fa-file-excel-o"></span> Seleccionar archivo
                    <input type="file" id="upload-file-button1" class="upload-file" style='width: 100%; height: 100%; cursor: pointer; position: absolute; z-index: 2; top: 0; left: 0; filter: alpha(opacity=0); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; opacity: 0; background-color: transparent; color: transparent;' name="file_source" size="40" onchange='$("#upload-file-info").html($(this).val());'>
                </form>
            </a>
        </div>
        &nbsp;
        <span class='label label-info' id="upload-file-info"></span>
    </div>
    <div id="alumnos_import1"></div>
</div>


<script>
    $("#upload-file-button1").change(function ()
    {
        var idEstado = $("#IdEstado").val();
        var IdPais = $("#Pais").val();
        var IdDistribuidor = $("#Distribuidor").val();
        var dataform = new FormData();
        debugger;
        var p = jQuery("#upload-file-button1").get(0).files[0];
        dataform.append("file", p);

        $.ajax({
            type: 'POST',
            contentType: false,
            processData: false,
            url: "@Url.Action("_ProcesarExcelMaestro", "LicenciaManager")",
            enctype: 'multipart/form-data',
            data: dataform,
            success: function (r) {
                var any = false;
                var html = '<table class="table table-striped table-condensed">';
                html += '<tr>';
                html += '<th></th><th>Nombre</th><th>Usuario</th><th>Contraseña</th><th>Escuela</th>';
                html += '</tr>';
                $.each(r, function (index, alumno) {
                    
                    html += '<tr>';
                    html += '<td> <span class="fa fa-check fa-lg" style="color:green"></span> </td> <td>' + alumno.Nombre + ' ' + alumno.ApellidoM + '' + ' ' + alumno.ApellidoP + '' + '</td><td>' + alumno.Usuario + '</td> <td>' + alumno.Contraseña + '</td> <td>' + alumno.ClaveOficial + '</td>';
                    html += '</tr>'
                });
                html += '</table>';
                $('#alumnos_import1').append('<br/>' + html);
                
            }
        });
    });
</script>