﻿@{ 
    ViewBag.Title = "Escuelas Excel";

    Layout = "~/Views/Shared/_LayoutLicencia.cshtml";

    var distribuidor = ViewBag.Distribuidores as IEnumerable<DistribucionSofia.Models.Distribuidor>;

    List<SelectListItem> selectListDistribuidor = new List<SelectListItem>();
    foreach(var item in distribuidor)
    {
        selectListDistribuidor.Add(new SelectListItem() { Text = "" + item.aspnet_Users.UserExtra.Name + " " + item.aspnet_Users.UserExtra.LastNameP, Value = "" + item.Id });
    }

}

<div class="well">
    <div class="row">
        <div class="col-md-4">
            @Html.Label("Pa", "País (*)")
            @Html.DropDownList("Pais", new SelectList(ViewBag.Paises, "Id", "Nombre"), "Seleccionar", new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            @Html.Label("Es", "Estado (*)")
            @Html.DropDownList("IdEstado", new SelectList(ViewBag.Estados, "Id", "Nombre"), "Seleccionar", new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            @Html.Label("dis", "Distribuidor (*)")
            @Html.DropDownList("Distribuidor", new SelectList(selectListDistribuidor, "Value", "Text"), "Seleccionar", new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div style="position: relative;">
            <a class='btn btn-primary btn-block' href='javascript:;'>
                <form id="data">
                    <span class="fa fa-file-excel-o"></span> Seleccionar archivo
                    <input type="file" id="upload-file-button1" class="upload-file" style='width: 100%; height: 100%; cursor: pointer; position: absolute; z-index: 2; top: 0; left: 0; filter: alpha(opacity=0); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; opacity: 0; background-color: transparent; color: transparent;' name="file_source" size="40" onchange='$("#upload-file-info").html($(this).val());'>
                </form>
            </a>
        </div>
        &nbsp;
        <span class='label label-info' id="upload-file-info"></span>
    </div>
    <div id="alumnos_import1"></div>
</div>

<input type="button" onclick="printDiv('alumnos_import1')" value="Imprimir" class="btn btn-info" />


<script>
    $("#upload-file-button1").change(function ()
    {
        var idEstado = $("#IdEstado").val();
        var IdPais = $("#Pais").val();
        var IdDistribuidor = $("#Distribuidor").val();
        var dataform = new FormData();
        //debugger;
        var p = jQuery("#upload-file-button1").get(0).files[0];
        dataform.append("file", p);
        dataform.append("IdDistribuidor", IdDistribuidor);
        dataform.append("IdPais", IdPais);
        dataform.append("IdEstado", idEstado);
        $.ajax({
            type: 'POST',
            contentType: false,
            processData: false,
            url: "@Url.Action("_ProcesarExcelEscuelas", "LicenciaManager")",
            enctype: 'multipart/form-data',
            data: dataform,
            success: function (r) {
                var any = false;
                var html = '<table class="table table-striped table-condensed">';
                html += '<tr>';
                html += '<th></th><th>#</th><th>Ciudad</th><th>Nombre</th><th>Usuario</th><th>Contraseña</th>';
                html += '</tr>';
                $.each(r, function (index, alumno) {
                    
                    html += '<tr>';
                    html += '<td> <span class="fa fa-check fa-lg" style="color:green"></span> </td> <td>' + alumno.Numero + '</td> <td>' + alumno.Ciudad + '</td> <td>' + alumno.Name + '</td> <td>' + alumno.UsuarioDirector + '</td> <td>' + alumno.ContraseñaDirector + '</td>';
                    html += '</tr>'
                });
                html += '</table>';
                $('#alumnos_import1').append('<br/>' + html);
                
            }
        });
    });

    function printDiv(nombreDiv) {
        var contenido = document.getElementById(nombreDiv).innerHTML;
        var contenidoOriginal = document.body.innerHTML;

        document.body.innerHTML = contenido;

        window.print();

        document.body.innerHTML = contenidoOriginal;
    }
</script>