﻿@{ 
    ViewBag.Title = "Maestros Alumnos";

    Layout = "~/Views/Shared/_LayoutLicencia.cshtml";


}

<div class="well">

    <div class="row">
        <div style="position: relative;">
            <a class='btn btn-primary btn-block' href='javascript:;'>
                <form id="data">
                    <input type="text" id="municipio" class="form-control"><br>
                    <button type="button" id="PruebaPorAlumno">Iniciar!</button>

        @*<button type="button" id="IniciarMaestrosSecundaria">Iniciar Maestros Secundaria!</button>
        <button type="button" id="ListaRegistros">Traer Lista de registros</button>

        <button type="button" id="IniciarMaestrosPrimaria">Iniciar Maestros Primaria!</button>
        <button type="button" id="IniciarAlumnosPrimaria">Iniciar Primaria!</button>
        <button type="button" id="IniciarAlumnosSecundaria">Iniciar Secundaria!</button>
        <button type="button" id="StartDiagnosticos">Iniciar Diagnosticos!</button>*@

                    @*<span class="fa fa-file-excel-o"></span> Seleccionar archivo

        <input type="file" id="upload-file-button1" class="upload-file" style='width: 100%; height: 100%; cursor: pointer; position: absolute; z-index: 2; top: 0; left: 0; filter: alpha(opacity=0); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; opacity: 0; background-color: transparent; color: transparent;' name="file_source" size="40" onchange='$("#upload-file-info").html($(this).val());'>*@
                </form>
            </a>
        </div>
        &nbsp;
        <span class='label label-info' id="upload-file-info"></span>
    </div>
    <div id="alumnos_import1"></div>
</div>


<script>

    //$("#StartDiagnosticos").click(function () {
    //    var dataform = new FormData();
    //    debugger;
    //    // var p = jQuery("#upload-file-button1").get(0).files[0];
    //    //  dataform.append("file", p);
    //    var p = $("#municipio").val();
    //    debugger;
    //    $.get("/LicenciaManager/ProcesarAlumnosDiagnostico", { idEscuela: p }, function (d) {

    //    });

    //});

    //$.get("/Registroes/Lista", { idEscuela: p }, function (d) {




    //$("#PruebaVinculacion").click(function () {
    //    var dataform = new FormData();
    //    debugger;

    //    var p = $("#municipio").val();
    //    //dataform.append("municipio", "victoria" );//
    //    debugger;
    //    $.get("/LicenciaManager/VinculacionPorAlumno", { municipio: p }, function (d) {

    //    });

    //});


    //$("#IniciarAlumnosSecundaria").click(function ()
    //{
    //    var dataform = new FormData();
    //    debugger;

    //    var p = $("#municipio").val();
    //    //dataform.append("municipio", "victoria" );//
    //    debugger;
    //    $.get("/LicenciaManager/ProcesarAlumnosNuevosTamaulipasSecundaria", { municipio: p }, function (d) {

    //    });
    //});


    //$("#IniciarMaestrosSecundaria").click(function ()
    //{
    //    var dataform = new FormData();
    //    debugger;

    //    var p = $("#municipio").val();
    //    //dataform.append("municipio", "victoria" );//
    //    debugger;
    //    $.get("/LicenciaManager/ProcesarMaestrosNuevosTamaulipasSecundaria", { municipio: p }, function (d) {

    //    });
    //});

    @*$("#IniciarMaestrosPrimaria").click(function ()
    {
        //var dataform = new FormData();
        //debugger;
        var p = $("#municipio").val();
        //dataform.append("municipio", "victoria" );//
        debugger;
        $.get("/LicenciaManager/ProcesarMaestrosNuevosTamaulipasPrimaria", { municipio: p }, function (d) {

        });*@

        @*$.ajax({
            type: 'POST',
            url: "@Url.Action("ProcesarMaestrosNuevosTamaulipasPrimaria", "LicenciaManager")",
            data: { 'municipio':'victoria'},
        success: function (r) {
            var any = false;
            var html = '<table class="table table-striped table-condensed">';
            html += '<tr>';
            html += '<th></th><th>total</th>';
            html += '</tr>';
            $.each(r, function (index, total) {

                html += '<tr>';
                html += '<td> <span class="fa fa-check fa-lg" style="color:green"></span> </td> <td>' + total + '</td> <td>';
                html += '</tr>'
            });
            html += '</table>';
            $('#alumnos_import1').append('<br/>' + html);

        }
    });
    });*@



    //$("#IniciarAlumnosPrimaria").click(function ()
    //{
    //    var dataform = new FormData();
    //    debugger;
    //   // var p = jQuery("#upload-file-button1").get(0).files[0];
    //    //  dataform.append("file", p);
    //    var p = $("#municipio").val();
    //    $.get("/LicenciaManager/ProcesarAlumnosNuevosTamaulipasPrimaria", { municipio: p }, function (d) {

    //    });

        @*$.ajax({
            type: 'POST',
            contentType: false,
            processData: false,
            url: "@Url.Action("ProcesarAlumnosNuevosTamaulipasPrimaria", "LicenciaManager")",
            enctype: 'multipart/form-data',
            data: dataform,
            success: function (r) {
                var any = false;
                var html = '<table class="table table-striped table-condensed">';
                html += '<tr>';
                html += '<th></th><th>total</th>';
                html += '</tr>';
                $.each(r, function (index, total) {

                    html += '<tr>';
                    html += '<td> <span class="fa fa-check fa-lg" style="color:green"></span> </td> <td>' + total + '</td> <td>';
                    html += '</tr>'
                });
                html += '</table>';
                $('#alumnos_import1').append('<br/>' + html);

            }
        });
    });*@

        $("#PruebaPorAlumno").click(function () {
            var dataform = new FormData();
            debugger;

            var p = $("#municipio").val();
            //dataform.append("municipio", "victoria" );//
            debugger;
            $.get("/LicenciaManager/ProcesarAlumnosNuevosConalepPreparatoria", { municipio: p }, function (d) {

            });
        });
</script>